{% extends 'listings/template.html' %}
{% block affichagedocpatient %}
<center>
<div class="container_affiche">
        <div style="font-size:20px;text-transform:uppercase">dossier du patient{{ patient.numeropatient }}</div>
<div class="left_container">
<pre>
<h5>information personnelle</h5>
Nom:{{patient.nom}}
Numero de lit:{{patient.numerodelit}}
Nationalite:{{patient.nationalite}}
Situation matrimoniale:{{patient.situation_matrimoniale}}
Age:{{patient.age}}
Nombre d'enfant{{patient.nombre_enfant}}
Sexe:{{patient.sexe}}
Premier contact:0{{patient.contact1}}
Deuxieme contact:0{{patient.contact2}}
Email:{{patient.email}}
Profession:{{patient.profession}}
Ville:{{patient.ville}}   
Commune:{{patient.commune}}
Quartier:{{patient.quartier}}   
Personne a contacter:{{patient.personne_a_contacter}}  
Contact de personne a contacter:0{{patient.telephone_cpu}}
</pre>
<hr/>
    <pre>
    <h5>Constante</h5>
    Poids:{{constantes.poids}}
    Taille:{{constantes.taille}}
    Temperature:{{constantes.temperature}}
    Imc:{{constantes.imc}}
    Tas:{{constantes.tas}}
    Tad{{constantes.tad}}
    Pouls:{{constantes.pouls}}
    </pre>
    </div>



    <div class="right_container">
        <ul>
            <li>
                <a href="{% url 'antecedantchirurgical' %}"  class="box">
                Antécédant chirurgical
                </a>
            </li>
            <li>
                <a href="{% url 'antecedantgenecologique' %}"  class="box">
                    Antécédant gynécologique
                </a>
            </li> 
            <li>
                <a href="{% url 'antecedantmedical' %}"  class="box">
                    Antécédant médical
                </a>
            </li> 
            <li>
                <a href="{% url 'consultation' %}"  class="box">
                    Consultation
                </a>
            </li> 
            <li>
                <a href="{% url 'bilanimg' %}"  class="box">
                    Bilan imagerie
                </a>
            </li> 
            <li>
                <a href="{% url 'bilanbio' %}"  class="box">
                    Bilan biologique
                </a>
            </li> 
            <li>
                <a href="{% url 'ordonnance' %}"  class="box">
                    Ordonnance
                </a>
            </li> 
            <li>
                <a href="{% url 'sortie_patient' %}" class="box">
                    Sortie du patient
                </a>
            </li> 
        </ul>
    </div>

</div>
</center>
{% endblock %}