{% extends 'listings/template.html' %}
{% block listehospital %}
<center>
    <h1>Liste des Patients hospitalisés</h1>
    <div class="patient-links">


        {% if val == "suivie" and qry != "" %}
            {% for result in results %}
                <a href="{% url 'listetraitement1' pk=result.idpatient resul=val %}" class="patient-link">{{ result.nom }}</a> 
            {% empty %}
                <p>Aucun patient trouvé.</p>
            {% endfor %}

        {% elif val == "suivie" and  qry == "" %} 

            {% for result in results %}
                <a href="{% url 'listetraitement1' pk=result.idpatient resul=val %}" class="patient-link">{{ result.nom }}</a>
            {% empty %}
                <p>Aucun patient trouvé.</p>
            {% endfor %}
        {% endif %}



        {% if val == "autorisation" and qry != "" %}
            {% for result in results %}
                <a href="{% url 'listetraitement1' pk=result.idpatient resul=val %}" class="patient-link">{{ result.nom }}</a> 
            {% empty %}
                <p>Aucun patient trouvé.</p>
            {% endfor %}

        {% elif val == "autorisation" and  qry == "" %} 

            {% for result in results %}
                <a href="{% url 'listetraitement1' pk=result.idpatient resul=val %}" class="patient-link">{{ result.nom }}</a>
            {% empty %}
                <p>Aucun patient trouvé.</p>
            {% endfor %}
        {% endif %}



        {% if val == "surveillance" and qry != "" %}
            {% for result in results %}
                <a href="{% url 'listetraitement1' pk=result.idpatient resul=val %}" class="patient-link">{{ result.nom }}</a> 
            {% empty %}
                <p>Aucun patient trouvé.</p>
            {% endfor %}

        {% elif val == "surveillance" and  qry == "" %} 

            {% for result in results %}
                <a href="{% url 'listetraitement1' pk=result.idpatient resul=val %}" class="patient-link">{{ result.nom }}</a>
            {% empty %}
                <p>Aucun patient trouvé.</p>
            {% endfor %}
        {% endif %}


        
    </div>
</center>
{% endblock %}

