
{% extends 'listings/template.html' %}

{% block formbilanbio %}
<center>
<form method="post" action=""  class="formcontenu">
<div>
<nav class="divcontenunav">bilan biologique</nav>
</div>
    <fieldset>
        <div class="divsortie">
            <label >marqueur viral</label>
            <select name="marqueurVir"  required>
                    <option value="Sérologie rétroviral">Sérologie rétroviral</option>
                    <option value="IgG anti VHE">IgG anti VHE</option>
                    <option value="IgM anti VHE">IgM anti VHE</option>
                    <option value="Ac anti VHD">Ac anti VHD</option>
                    <option value="Ac anti HBe">Ac anti HBe</option>
                    <option value="Ag HBe">Ag HBe</option>
            </select>
          </div>



          <div class="divsortie">
            <label >unités</label>
            <select name="unite"  required>
                    <option value="UI/ ml">UI/ ml</option>
                    <option value="mmol/ l">mmol/ l</option>
                    <option value="g/l">g/l</option>
                    <option value="/mm3">/mm3</option>
            </select>
          </div>

          <div class="divsortie">
            <label >date de remise des résultats</label>
            <input type="date"    name="dateremiseresultat"   required/>
          </div>

          <div class="divsortie">
            <label >date de réception des échantillons</label>
            <input type="date"    name="datereceptionechantillon"   required/>
          </div>

          <div class="divsortie">
            <label > consultation</label>
            <input type="text"    name="consultation"  required/>
          </div>


          <div>
            <div class="divsortie">
                <label>  resultat</label>
                    <div  class="custom-control custom-radio">
                        <input type="radio"  name="resultat"  value="Inférieur à 6 mois" class="custom-control-input" id="exampleRadios6"/>
                        <label class="custom-control-label" for="exampleRadios6">positif</label>
                    </div>
                    <div  class="custom-control custom-radio">
                        <input type="radio"  name="resultat"  value="Supérieur ou égal à 6 mois" class="custom-control-input" id="exampleRadios7"/>
                        <label class="custom-control-label" for="exampleRadios7">négatif</label>
                    </div>
            </div>
        </div>

    </fieldset>
    <input type="submit"  name="validbilanimg"  value="Enregister" class="btn btn-primary"/>
</form>
</center>
{% endblock %}                                                                           