{% extends 'listings/template.html' %}

{% block box %}

<div class="box-wrapper">
    <div class="box-row">
        <div class="box-container">
            <a href="{% url 'antecedantchirurgical' %}" class="box">
                <p>Antécédant<br/>chirurgical</p>
            </a>
        </div>

        {% if sexe == "féminin" %}
            <div class="box-container">
                <a href="{% url 'antecedantgenecologique' %}" class="box">
                    <p>Antécédant<br/>gynécologique</p>
                </a>
            </div>
        {% endif %}

        <div class="box-container">
            <a href="{% url 'antecedantfamilial' %}" class="box">
                <p>Antécédant<br/>familial</p>
            </a>
        </div>

        <div class="box-container">
            <a href="{% url 'antecedantmedical' %}" class="box">
                <p>Antécédant<br/>médical</p>
            </a>
        </div>
        
    </div>
    <div class="box-row">
        <div class="box-container">
            <a href="{% url 'consultation' %}" class="box">
                <p>Consultation</p>
            </a>
        </div>
        <div class="box-container">
            <a href="{% url 'bilanimg' %}" class="box">
                <p>Bilan imagerie</p>
            </a>
        </div>
        <div class="box-container">
            <a href="{% url 'bilanbio' %}" class="box">
                <p>Bilan biologique</p>
            </a>
        </div>
        <div class="box-container">
            <a href="{% url 'ordonnance' %}" class="box">
                <p>Ordonnance</p>
            </a>
        </div>
        
    </div>

</div>

{% endblock %}
