{% extends 'listings/template.html' %}

{% block choix %}     

    <div class="box-row">
        <div class="box-container">
            <a href="{% url 'listehospi' val='creation' %}"  class="box">creer une hospitalisation</a>
        </div>

        <div class="box-container">
            <a href="{% url 'listehospi' val='suivie' %}"  class="box">Suivie</a>
        </div>

        
    
        <div class="box-container">
            <a href="{% url 'listehospi' val='autorisation' %}"  class="box">Autoriser une sortie</a>
        </div>
        

        <div class="box-container">
            <a href="{% url 'listehospi' val='surveillance' %}"  class="box">Évaluation de l'État de Santé</a>
        </div>
        
    </div>

    


    
{% endblock %}
