{% extends 'listings/template.html' %}
{% block boxhospi %}
<div class="box-wrapper">
    <div class="box-row">
        
        <div class="box-container">
            <a href="{% url 'constante' %}" class="box">
                <p>Constante</p>
            </a>
        </div>
        <div class="box-container">
            <a href="{% url 'bilanimg' %}" class="box">
                <p>Bilan imagerie</p>
            </a>
        </div>
         
    </div>
    <div class="box-row">
        
        <div class="box-container">
            <a href="{% url 'bilanbio' %}" class="box">
                <p>Bilan biologique</p>
            </a>
        </div>
        <div class="box-container">
            <a href="{% url 'ordonnance' %}" class="box">
                <p>Ordonnance</p>
            </a>
        </div>
        
    </div>

</div>
{% endblock %}
