{% extends 'listings/template.html' %}
{% block boxhospi %}
<div class="box-wrapper">
    {% if resul == "suivie" %}
        <div class="box-row">
            <div class="box-container">
                <a href="{% url 'bilanimg' cst='hospi' %}" class="box">
                    <p>Bilan imagerie</p>
                </a>
            </div>
            
        </div>
        <div class="box-row">
            
            <div class="box-container">
                <a href="{% url 'bilanbio' cst='hospi' %}" class="box">
                    <p>Bilan biologique</p>
                </a>
            </div>
            <div class="box-container">
                <a href="{% url 'ordonnance' cst='hospi' %}" class="box">
                    <p>Ordonnance</p>
                </a>
            </div>
            
        </div>
    {% endif %}

</div>
{% endblock %}
