{% extends 'listings/template.html' %}

{% block calendar %}
<center>
    <div class="container">
        <div id="calendar"></div>
    </div>

    <center> 
                    <div id="eventModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="eventModalLabel">Détails du rendez-vous</h5>
                                
                            </div>
                            <div class="modal-body">
                                <p><strong>Titre:</strong> <span id="eventTitle"></span></p>
                                <p><strong>Description:</strong> <br/><span id="eventDescription"></span><br/> </p>
                                <p><strong>Date:</strong> <span id="eventStart"></span></p>
                            </div> <br/>
                            <div class="modal-footer"> 
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModalButton">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
    <center>
</center>

<style>
    #calendar {
        width: 80%; /* Ajuste la largeur */
        height: 600px; /* Ajuste la hauteur */
        margin: auto; /* Centre le calendrier */
        overflow: hidden; /* Évite le débordement */
       
        
    }

    
      

    /* Styles pour centrer la modale */
    .modal-dialog {
        display: flex;
        justify-content: center; /* Centre horizontalement */
        align-items: center; /* Centre verticalement */
        height: 100vh; /* Hauteur de la fenêtre */
        width: 50%;
    }

    p{ 
        text-align:start;
    }

</style>

<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            locale: 'fr',
            editable: true,
            selectable: true,
            selectHelper: true,
            eventSources: [
                {
                    url: '/api/jestfullcalendar/', // Assurez-vous que cette URL est correcte
                    failure: function() {
                        console.log('Erreur de chargement des événements');
                    }
                }
            ],
            eventRender: function(event, element) {
                $(element).addClass('custom-event');
            },
            eventClick: function(event, jsEvent, view) {
                $('#eventTitle').text(event.title);
                $('#eventDescription').html(event.description || 'Aucune description');
                $('#eventStart').text(event.start.format('YYYY-MM-DD'));
                $('#eventModal').modal('show');
            }
        });
    });

    // Fermer le modal quand le bouton est cliqué
    $('#closeModalButton').click(function() {
        $('#eventModal').modal('hide');
    });

</script>
{% endblock %}
