{% extends 'listings/template.html' %}
{% block chart %}
<style>
    label{display:block;}
    div1{
        width:200px;  
    }

    #np{
        margin-left:20px;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("nr").addEventListener("change", function() {
            const dateDebut = this.value; // Récupère la valeur de l'input 'nr'
            const dateFinInput = document.getElementById('np');

            if (dateDebut) {
                // Définit la date minimale pour l'input 'np' et l'active
                dateFinInput.setAttribute('min', dateDebut);
            } else {
                // Enlève l'attribut min et désactive 'np' si aucune date n'est sélectionnée
                dateFinInput.removeAttribute('min');
                
            }
        });
    });
</script>


<div class="row stats-row">
    <div class="col-lg-4 col-md-12">
        <div class="card card-transparent stats-card">
            <div class="card-body">
                
                <div class="div1">
                    <div>
                        <nav class="divcontenunav">choisir la date</nav>
                    </div>
                    <form method="post" action="{% url 'chart' %}">
                        {% csrf_token %}
                            <fieldset>
                                <label>Date Début
                                    <input type="date" name="datedebut" id="nr" required/>
                                </label>
                
                                <label>Date Fin
                                    <input type="date" name="datefin" required  id="np"/>
                                </label>
                            <input type="submit" name="ok" value="Afficher"/>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>

  <div class="row stats-row">
      <div class="col-lg-4 col-md-12">
          <div class="card card-transparent stats-card">
              <div class="card-body">
                  <div class="stats-info">
                      <h5 class="card-title">{{ nombre_de_patients }}
                        <div class="stats-icon ">
                            <i class="material-icons" style="color:deepskyblue;">group</i>
                        </div>
                      </h5> 
                      <p class="stats-text">Nombre de patient</p>
                  </div>
                  
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-12">
          <div class="card card-transparent stats-card">
              <div class="card-body">
                  <div class="stats-info">
                      <h5 class="card-title">{{nombre_deces}}
                        <div class="stats-icon">
                            <i class="material-icons" style="color:deepskyblue;">group</i>
                        </div>
                      </h5>
                      <p class="stats-text">Nombre de décès</p>
                  </div> 
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-12">
          <div class="card card-transparent stats-card">
              <div class="card-body">
                  <div class="stats-info">
                      <h5 class="card-title">{{hospitalisation_count}}
                        <div class="stats-icon ">
                            <i class="material-icons " style="color:deepskyblue;">hotel</i>
                        </div>
                      </h5>
                      <p class="stats-text">Nombre de patient hospitalisé</p>
                  </div>
                  
              </div>
          </div>
      </div>
  </div>




 
  <div class="row stats-row">
    <div class="col-lg-4 col-md-12">
        <div class="card card-transparent stats-card">
            <div class="card-body">
                <div class="stats-info">
                    <h5 class="card-title">{{nombre_patients_feminins}}
                         <div class="stats-icon ">
                        <i class="material-icons" style="color:deepskyblue;">woman</i>
                        </div>
                    
                    </h5>
                    <p class="stats-text">patient femme</p>
                </div>

                <div class="stats-info" style="margin-left:15px">
                    <h5 class="card-title">{{masculin_count}}
                        <div class="stats-icon">
                            <i class="material-icons" style="color:deepskyblue;">man</i>
                        </div> 
                    </h5>
                    <p class="stats-text">patient homme</p>

                </div>

                
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card card-transparent stats-card">
            <div class="card-body">
                <div class="stats-info">
                        <p class="card-title">{{average_age}}</p>
                        <p class="stats-text">la moyenne de l'age</p>
                    
                    
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card card-transparent stats-card">
            <div class="card-body">
                <div class="stats-info">
                    <p class="card-title">{{consulreg}}</p>
                    <p class="stats-text">Nonbre de patient en consultation regulière</p>
                </div>
            </div>
        </div>
    </div>
</div>


  <div class="row">
     
      <div class="col-lg-6">
          <div class="card">
            <img src="data:image/png;base64,{{ graph_image }}" alt="Graphique des Patients"/>
          </div>
      </div>
  </div>

  
{% endblock %}