{% extends 'listings/template.html' %}

{% block formconstante %}
<center>

<form method="post" action="{% url 'constante' %}"  class="formcontenu">
{% if form_errors %}
  <ul>
  {% for field, errors in form_errors.items %}
      <li>{{ field }}: {{ errors }}</li>
  {% endfor %}
  </ul>
{% endif %}
<div>
<nav class="divcontenunav">constante</nav>
</div>
    {% csrf_token %}
    <fieldset>
        
        {% if error_message %}
                <p class="p1">{{ error_message }}</p>
        {% endif %}
          <div class="divsortie">
              <label >Poids</label>
              <input type="text"   placeholder="poids en  kg" name="poids" id="poids" class="inputcontenu" oninput="calculateIMC()"/>
          </div>
          <div class="divsortie">
            <label >Taille</label>
            <input type="text"   placeholder="taille en  m" name="taille"  id="taille" class="inputcontenu" oninput="calculateIMC()"/>
          </div>

          <div class="divsortie">
            <label >Imc</label>
            <input type="text"   id="imc" placeholder="IMC kg/m²" name="imc" class="inputcontenu" readonly/>
          </div>

          <div class="divsortie">
            <label >Température</label>
            <input type="text" placeholder="température en C°" name="temperature" class="inputcontenu"/>
          </div> 
            <!--<input type="text"   placeholder="imc kg/m2 " name="imc" class="inputcontenu"/>-->
              
            <div class="content">
              <label>tension artérielle</label>  
                  <div class="leftconts">
                  <input type="text"   placeholder="TAS" name="tas" class="inputcontenu" />
                  </div>
                  <div class="rightconts">
                    <input type="text"   placeholder="TAD" name="tad" class="inputcontenu"/>
                  </div>
            </div>

            <div class="divsortie">
                <label >pouls</label>
                <input type="text" placeholder="pouls en  battements/mn " name="pouls" class="inputcontenu"/>
            </div>
            {% if sexe == "féminin" %}
            <div class="divsortie">
              <label>signe insuffisance hépatocéllulaire</label>
              <input type="text" placeholder="pouls en  battements/mn " name="sih" class="inputcontenu"/>
            </div>
            <div class="divsortie">
              <label>signe hypertension portable</label>
              <input type="text"  name="shp" class="inputcontenu"/>
            </div>
            <div class="content">
              <label>Flèche hépatique</label>  
                  <div class="leftconts">
                  <input type="text"   placeholder="lmc" name="lmc" class="inputcontenu" />
                  </div>
                  <div class="rightconts">
                    <input type="text"   placeholder="lxo" name="lxo" class="inputcontenu"/>
                  </div>
            </div>

            <div class="divsortie">
              <label>toucher rectal</label>
              <input type="text" name="resultattoucherectal" class="inputcontenu"/>
            </div>
            {% endif %}
            <input type="hidden" id="patient" name="patient" value="{{ Patient_idpatient }}" />
    </fieldset>
    <input type="submit"  name="valideconstante"  value="Enregister" class="btn btn-primary"/>
</form>
</center>


<Script>
function calculateIMC(){
  const poids = parseFloat(document.getElementById('poids').value);
  const taille = parseFloat(document.getElementById('taille').value);
  let imc = '';

  if (!isNaN(poids) && !isNaN(taille) && taille > 0) {
      imc = (poids /((taille * taille))*10000).toFixed(2);
  }

  document.getElementById('imc').value = imc;
}
</Script>


{% endblock %}
