{% extends 'listings/template.html' %}
{% block formbilanimg %}
<style>
    table {
        border-collapse: separate;
        border-spacing: 8px;
        width: 100%;
    }
    th, td {
        padding: 0px;
        margin: 0px;
        text-align: left;
        width: 100%;
    }
    .td_div {
        margin-left: 125px;
        width: 49%;
    }
</style>
<center>
<form method="post" action="" class="formcontenu" enctype="multipart/form-data">
    <div class="divcontenunav" style="display: flex; justify-content: space-between;">
        <div>Service d'imagerie médicale</div>
        <div>Date:<input type="date" id="dateField" readonly /></div>
    </div>
{% csrf_token %}
    <fieldset>
        {% if success %}
        <p class="p2">bilan imagerie enregistré.</p>
        {% endif %}
        {% if error_message %}
        <p class="p1">{{ error_message }}</p>
        {% endif %}
        <div class="divsortie">
            <label>Choix</label>
            <div class="form-check form-check-inline">
                <input type="radio" name="nb1" value="radiographie" class="form-check-input" id="exampleRadios29" onclick="echo_radio()"/>
                <label class="form-check-label" for="exampleRadios29">radiographie</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="nb1" value="echographie" class="form-check-input" id="exampleRadios30" onclick="echo_radio()"/>
                <label class="form-check-label" for="exampleRadios30">échographie</label>
            </div> 
        </div>
        <div class="test td_div" id="radio" style="display: none;">
            <table>
                <tr>
                    <th>Organe radio</th>
                    <th>Image</th>
                </tr>
                <tr>
                    <td><input type="text" name="radiographie" id="n5"/></td>
                    <td><input type="file" name="resultat_radiographie" accept="image/*" id="n3" /></td>
                </tr>
            </table>
        </div>
        <div class="test td_div" id="echo" style="display: none;">
            <table>
                <tr>
                    <th>Organe</th>
                    <th>image</th>
                </tr>
                <tr>
                    <td><input type="text" name="echographie" id="n2"/></td>
                    <td><input type="file" name="resultat_echographie" accept="image/*" id="n4" /></td>
                </tr>
            </table>
        </div>
        <div class="divsortie">
            <label for="num">service</label>
            <input type="text" placeholder="service" name="service" class="inputcontenu"/>
        </div>
        <div class="divsortie">
            <label for="num">renseignements cliniques</label>
            <input type="text" placeholder="renseignements cliniques" name="rensignementclinique" class="inputcontenu"/>
        </div>
        <div class="divsortie">
            <label for="num">date</label>
            <input type="date" name="dateexam" class="inputcontenu"/>
        </div>
        <input type="hidden" name="patient" value="{{derniere_consultation_id}}"/>
    </fieldset>
    <input type="submit" name="validbilanimg" value="Enregister" class="inp2"/>
</form>
</center>
<script>
    var afficheRadio1 = document.getElementsByName('nb1');
    
    function echo_radio() {
        for (var i = 0; i < afficheRadio1.length; i++) {
            if (afficheRadio1[i].checked) {
                var inputField1 = document.getElementById('radio');
                var inputField2 = document.getElementById('echo');

                switch(afficheRadio1[i].value) {
                    case 'echographie':
                        inputField2.style.display = "block";
                        inputField1.style.display = "none";
                        break;
                    case 'radiographie':
                        inputField1.style.display = "block";
                        inputField2.style.display = "none";
                        break;
                }
            }
        }
    }
</script>
{% endblock %}
