{% extends 'listings/template.html' %}
{% block formfacture %}
<center>
<form method="post" action="{% url 'facture' %}" class="formcontenu">
<div>
<nav class="divcontenunav">facture du sejour</nav>
</div>
    {% csrf_token %}
    <fieldset>
        {% if success %}
        <p class="alert alert-success">facture  enregistrée.</p>
        {% endif %}
        {% if error_message %}
                <p class="alert alert-danger">{{ error_message }}</p>
        {% endif %}
        <div class="divsortie">
            <label  >Numéro de la facture</label>
            <input type="text"  placeholder="numéro de la facture" name="numerofact" class="inputcontenu" />
        </div>
        <div class="divsortie">
            <label  >Mode de paiment</label>
        <input type="text"  placeholder="mode de paiment" name="modepaiment" class="inputcontenu"/>
        </div>
        
        <div class="divsortie">
            <label  >Montant payé</label>
        <input type="text"  placeholder="montant payé" name="montantpaye" class="inputcontenu"/>
        </div>

        <div class="divsortie">
            <label  >Nom  du patient</label>
        <input type="text"  placeholder="nom  du patient" id="nom" name="nom" class="inputcontenu" oninput="fetchPatientId()"/>
        </div>

        <div class="divsortie">
            <label  >Durée du séjour</label>
        <input type="text"  placeholder="durée du séjour" name="duree_sejour" class="inputcontenu"/>
        </div>
        <div class="divsortie">
            <label  >Coût du séjour</label>
        <input type="text"  placeholder="coût du séjour" name="cout_sejour" class="inputcontenu"/>
         </div>
        <div class="divsortie">
            <label  >remboursement</label>
        <input type="text"  placeholder="remboursement" name="remboursement" class="inputcontenu"/>
        </div>
        <div class="divsortie">
            <label  >Reste à payer</label>
        <input type="text"  placeholder="reste à payer" name="rest_a_payer" class="inputcontenu"/>
        </div>

        <div class="divsortie">
            <label  >Date de versement</label>
        <input type="date"  placeholder="date de versement" name="date_versement" class="inputcontenu"/>
        </div>

        <div class="divsortie">
            <label  >Caution versée</label>
            <input type="text"  name="caution_versee" class="inputcontenu" placeholder="caution versée"/>
        </div>
        <div class="divsortie">
            <input type="hidden" name="patient" id="patient" class="inputcontenu" readonly/>
        </div>

    </fieldset>
    <input type="submit"  name="validepatient"  value="Enregistrer"  class="inp2"/>
</form>
<script>
    function fetchPatientId() {
        var nom = document.getElementById('nom').value;
        if (nom) {
            fetch(`/get_patient_id/?nom=${nom}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('patient').value = data.id ? data.id : 'Patient non trouvé';
                });
        } else {
            document.getElementById('patient').value = '';
        }
    }
    </script>
</center>
{% endblock %}
