{% extends 'listings/template.html' %}
{% block formantchirurgical %}
<center><form method="post" action="{% url 'antecedantchirurgical' %}" class="formcontenu">
    <div>
        <nav class="divcontenunav">antécédant chirurgical</nav>
    </div>

    {% csrf_token %}
    <fieldset>    
        
        <div class="divsortie" >
            <label>avp</label>
             <div class="custom-control custom-radio">
                 <input class="custom-control-input" type="radio" name="avp" id="inlineRadio1" value="oui" onclick="antecedantchiravp()"/>
                 <label class="custom-control-label" for="inlineRadio1">oui</label>
             </div>
             <div class="custom-control custom-radio">
                 <input class="custom-control-input" type="radio" name="avp" id="inlineRadio2" value="non" onclick="antecedantchiravp()"/>
                 <label class="custom-control-label" for="inlineRadio2">non</label>
             </div>

             <div class="test"  id="resultat2">
                <label class="form-check-label">date avp</label>
                <input  type="date" name="dateavp" id="inlineRadio2" style="padding:10px;"/>  
            </div>

         </div>


        <div class="divsortie" >
           <label >opération chirurgicale</label>
            <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" name="operachir" id="inlineRadio3" value="oui" onclick="antecedantchiroperachir()"/>
                <label class="custom-control-label" for="inlineRadio3">oui</label>
               
            </div>

            <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" name="operachir" id="inlineRadio4" value="non" onclick="antecedantchiroperachir()"/>
                <label class="custom-control-label" for="inlineRadio4">non</label>
            </div>

            <div class="test" id="resultat3" style="margin-right:20px" >
                <label class="form-check-label">date de l'opération </label>
                <input  type="date" name="datoperachir" id="inlineRadio2" style="padding:10px;margin-right:50px"/>
                
            </div>
        </div>


       
    </fieldset>
    <input  type="submit" name="validmdp" value="Validers" class="btn btn-primary" />
</form>
</center>
{% endblock %}

