{% extends 'listings/template.html' %}

{% block formconstante %}


<style>
  .contentleft1 {
       border: 0px solid #f0f0f0;
       padding: 10px;
       margin-right:10px; 
       width:60%;
  }
  .contentleft1 input {
      width:42.5% ;/*fixe pour les inputs */
      padding:8px; /* Espacement intérieur */
      box-sizing: border-box; 
  } 

</style>

<center>

<form method="post" action="{% url 'constante' idpatient  medecin_id cst %}"  class="formcontenu">
{% if form_errors %}
  <ul>
  {% for field, errors in form_errors.items %}
      <li>{{ field }}: {{ errors }}</li>
  {% endfor %}
  </ul>
{% endif %}
<div>
<nav class="divcontenunav">constante</nav>
</div>
    {% csrf_token %}
    <fieldset>
        {% if error_message %}
                <p class="alert alert-danger">{{ error_message }}</p>
        {% endif %}
          <div class="divsortie">
              <label for="poids" >Poids</label>
              <input type="text"   placeholder="poids en  kg" name="poids" id="poids" class="inputcontenu" oninput="calculateIMC()"/>
          </div>
          <div class="divsortie">
            <label for="taille" >Taille</label>
            <input type="text"   placeholder="taille en cm" name="taille"  id="taille" class="inputcontenu"  pattern="[0-9]{3}" oninput="calculateIMC()"/>
          </div>

          <div class="divsortie">
            <label for="imc">IMC</label>
            <input type="text"   id="imc" placeholder="IMC kg/m²" name="imc" class="inputcontenu" readonly/>
          </div>

          <div class="divsortie">
            <label for="temperature">Température</label>
            <input type="text" placeholder="température en C°" name="temperature" id="temperature" class="inputcontenu"/>
          </div> 
            <!--<input type="text"   placeholder="imc kg/m2 " name="imc" class="inputcontenu"/>-->
            <div > 
                <div class="contentleft2">
                  <label style="text-align: start;margin-left:10px">tension artérielle</label> 
                </div>

                <div class="contentleft1">
                    <input type="text"   placeholder="TAS" name="tas" id="tas"/>
                    <input type="text"   placeholder="TAD" name="tad"  id="tad"/>
                </div>
                
            </div>


            <div class="divsortie">
                <label  for="pouls" >pouls</label>
                <input type="text" placeholder="pouls en  battements/mn " name="pouls"  id="pouls" class="inputcontenu"/>
            </div>

            <input type="hidden" id="patient" name="patient" value="{{idpatient}}"/>
    </fieldset>
    <input type="submit"  name="valideconstante"  value="Enregister" class="inp2"/>
</form>
</center>


<Script>
function calculateIMC(){
  const poids = parseFloat(document.getElementById('poids').value);
  const taille = parseFloat(document.getElementById('taille').value);
  let imc = '';

  if (!isNaN(poids) && !isNaN(taille) && taille > 0) {
      imc = (poids /((taille * taille))*10000).toFixed(2);
  }

  document.getElementById('imc').value = imc;
}


// Fonction pour empêcher la saisie de caractères non numériques
function restrictInput(elementId) {
  document.getElementById(elementId).addEventListener('input', function () {
      this.value = this.value.replace(/[^0-9]/g, '');
  });
}

// Appliquer la fonction à chaque champ
restrictInput('poids');
restrictInput('taille');
restrictInput('temperature');
restrictInput('pouls');
restrictInput('tas');
restrictInput('tad'); // Assurez-vous que cet ID existe dans votre HTML
</Script>


{% endblock %}
