{% extends 'listings/template.html' %}
{% block formsortie %}
<style>
    #dateInput:disabled {
        background-color: #f0f0f0;
    }
</style>

<center><form method="post" action="{% url 'sortie_patient' %}"  class="formcontenu">
    <div>
        <nav class="divcontenunav">sortie</nav>
    </div>


    {% csrf_token %}
    <fieldset>   
        {% if success %}
        <p class="alert alert-success">sortie  enregistrée.</p>
        {% endif %}
        {% if error_message %}
                <p class="alert alert-danger">{{ error_message }}</p>
        {% endif %}
        <div  class="divsortie">
            <label > Fiche remplie par</label>
            <input  type="text" name="remplipar"/ >
        </div>
        
        <div  class="divsortie">
            <label >Patient concerné</label>
            <input  type="text" name="nom" id="nom" value="{{nom}}"  readonly required/>
        </div>

        <div class="divsortie">
            <label>Date de sortie</label>
            <input  type="date" name="datesortie" required>
        </div>

            <div class="divsortie" required>
                    <label> Motif de sortie</label>
                    <div class="form-check form-check-inline">
                        <input type="radio"  name="motifsortie"  value="décès"   onclick="sortie()" class="form-check-input" id="inlineRadio1"/>
                        <label class="form-check-label" for="inlineRadio1">décès</label>
                    </div>

                                    
                    <div  class="form-check form-check-inline" >
                        <input type="radio"  name="motifsortie"  value="perdu de vue"   onclick="sortie()" class="form-check-input" id="exampleRadios2"/>
                        <label class="form-check-label" for="exampleRadios2">perdu de vue</label>
                            
                    </div>

                    <div  class="form-check form-check-inline" >
                        <input type="radio"  name="motifsortie"  value="transfert de dossier"   onclick="sortie()" class="form-check-input" id="exampleRadios3"/>
                        <label class="form-check-label"  for="exampleRadios3">transfert de dossier</label>
                        
                    </div>
                        

                    <div  class="form-check form-check-inline">
                        <input type="radio"  name="motifsortie"  value="refus de suivi"   onclick="sortie()" class="form-check-input" id="exampleRadios4"/>
                        <label class="form-check-label" for="exampleRadios4">refus de suivi</label>
                    </div>
            </div>
        <div>
            <!--debut-->
            <div class="test" id="motif4"> 
                <div class="divsortie">
                    <label  >Date de refus</label>
                    <input  type="date" name="daterefus" >
                </div> 
            </div>
            <!--fin-->
            <div id="datedernierevisite" class="test">
                <div class="divsortie">
                    <label  >Date de dernière visite</label>
                    <input  type="date" name="datedernierevisite" >
                </div>
            </div>
            <div class="test" id="motif3"> 
                <div class="divsortie">
                    <label  >Date de transfert</label>
                    <input  type="date" name="datedetransfert" >
                </div> 

                

                <div  class="divsortie">
                    <label >Nouveau centre de suivi</label>
                    <input  type="text" name="nouveaucentredesuivi" >
                </div>


                <div  class="divsortie">
                    <label >Numéro de dossier dans le centre</label>
                    <input  type="text" name="numerodedossierdanslecentredetransfert" >
                </div>
                
            </div>


        <!--debut-->
        </div> <div class="test" id="motif1"> 
            <div class="divsortie">
            <label>Date du décès</label>
            <input  type="date" name="datedeces"/>
            </div>

            <div class="divsortie">
                <label>lieu du décès</label>
                <div  class="form-check" id="presdiv11">
                    <input type="radio"  name="lieudeces"  value="domicile"    class="form-check-input" id="exampleRadios7" />
                    <label class="form-check-label" for="exampleRadios7">domicile</label>
                </div>

                <div  class="form-check" id="presdiv10">
                    <input type="radio"  name="lieudeces"  value="centre de santé" class="form-check-input" id="exampleRadios8"/>
                    <label class="form-check-label" for="exampleRadios8">centre de santé</label>
                </div>
            </div>

                <div  class="divsortie">
                    <label>cause du décès</label>
                    <input  type="text" name="causedudeces"/>
                </div>

            <div class="divsortie">
                <label>décès lié a l'hépatite </label>
                <div  class="form-check" id="presdiv12">
                    <input type="radio"  name="decesliea"  value="hépatite"    class="form-check-input" id="exampleRadios5"/>
                    <label class="form-check-label" for="exampleRadios5">oui</label>
                </div>

                <div  class="form-check" id="presdiv13">
                    <input type="radio"  name="decesliea"  value="autre"    class="form-check-input" id="exampleRadios6"/>
                    <label class="form-check-label" for="exampleRadios6">non</label>
                </div>
            </div>
        </div>
        <!--fin-->
            

        <div class="test" id="motif2"> 
            <div class="divsortie">
                <label  >Date dernière relance</label>
                <input  type="date" name="datederniererelance" >
            </div>


            <div class="divsortie">
                <label>Type de relance</label>

                <div  class="form-check" id="presdiv21">
                    <input type="radio"  name="typederelance"  value=" Visite à domicile"    class="form-check-input" id="exampleRadios9"/>
                    <label class="form-check-label" for="exampleRadios9">Visite à domicile</label>
                </div>

                <div  class="form-check" id="presdiv20">
                    <input type="radio"  name="typederelance"  value="Entretien au téléphone"    class="form-check-input" id="exampleRadios10"/>
                    <label class="form-check-label" for="exampleRadios10">Entretien au téléphone</label>
                </div>
                <div  class="form-check" id="presdiv22">
                    <input type="radio"  name="typederelance"  value="Personne contact"    class="form-check-input" id="exampleRadios11"/>
                    <label class="form-check-label" for="exampleRadios11">Personne contact</label>
                </div>
            </div><br/>

            <div class="divsortie">
                    <label>Type de nouvelle</label>
                    <div  class="form-check" id="presdiv16">
                        <input type="radio"  name="typedenouvelle"  value="Patient a été vu"    class="form-check-input" id="exampleRadios12"/>
                        <label class="form-check-label" for="exampleRadios12">Patient a été vu</label>
                    </div>
                    <div  class="form-check" id="presdiv20">
                        <input type="radio"  name="typedenouvelle"  value="Entretien au téléphone"    class="form-check-input" id="exampleRadios13"/>
                        <label class="form-check-label" for="exampleRadios13">Entretien au téléphone</label>
                    </div>
                    <div  class="form-check" id="presdiv18">
                        <input type="radio"  name="typedenouvelle"  value="Pas de nouvelle fiable"    class="form-check-input" id="exampleRadios14"/>
                        <label class="form-check-label" for="exampleRadios14">Pas de nouvelle fiable</label>
                    </div>
                    <div  class="form-check" id="presdiv19">
                        <input type="radio"  name="typedenouvelle"  value="Patient en vie selon une personne fiable"    class="form-check-input" id="exampleRadios15"/>
                        <label class="form-check-label" for="exampleRadios15">Patient en vie selon une personne fiable</label>
                    </div>
                </div>
            </div>
            
            
                
            <div  class="divsortie test" id="raison" >
                        <label>Raison</label>
                        <input  type="text" name="raison">
            </div>


        <div class="divsortie">
        <label>Observation</label>
        <textarea name="commentaire" placeholder="Observation" rows="5" cols="30"></textarea>
        </div>

        <div class="divsortie test" id="afficheref">
            <label>rendez-vous prochain</label>

            <div  class="form-check form-check-inline" id="presdiv12">
                <input type="radio"  name="rdv"  value="oui" class="form-check-input" id="exampleRadios40" onclick="rdv()"/>
                <label class="form-check-label" for="exampleRadios40">oui</label>
            </div>

            <div  class="form-check form-check-inline" id="presdiv13">
                <input type="radio"  name="rdv"  value="non" class="form-check-input" id="exampleRadios50" onclick="rdv()"/>
                <label class="form-check-label" for="exampleRadios50">non</label>
            </div>

        </div>

        <table class="test" id="rdvdate" style="width:50%;margin-left:120px;">
                        <tr><th>Date</th>  <th>Médecin</th></tr>
                        <tr>
                            <td>   
                                <input type="date"  name="rdvdate" id="val"/>
                            </td>
                            {% if request.user.is_authenticated %}
                            {% if user.type_personnel_soignant.nompersog == "MEDECIN" %}
                                <td>   
                                    <input type="text"  name="nompracticien"  value="{{ user.nom }}"  id="val" readonly />
                                </td>
        
                            {% endif %}
                            {% endif %}
                            
        
                        </tr>
                    </table>
        
            
        <div class="divsortie">
            <input type="hidden" name="patient" id="patient"   value="{{idpatient}}" class="inputcontenu" readonly/>
        </div>
    {% if request.user.is_authenticated %}
    {% if user.type_personnel_soignant.nompersog == "MEDECIN" %}
        <input type="hidden"   name="customUser"  value="{{ user.refpersoignant }}"/>
    {% endif %}
    {% endif %}

    
    </fieldset>
    <input  type="submit" name="validesortie" value="Autoriser"  class="inp2"/>
</form>

<script>
    // Fonction pour gérer l'affichage des champs en fonction du motif de sortie
    function sortie() {
        const afficheRadio = document.getElementsByName("motifsortie");
        const fields = {
            décès: document.getElementById("motif1"),
            perdu: document.getElementById("motif2"),
            transfert: document.getElementById("motif3"),
            refus: document.getElementById("motif4"),
            raison: document.getElementById("raison"),
            derniereVisite: document.getElementById("datedernierevisite"),
            afficheref: document.getElementById("afficheref"),
        };

        function hideAllFields() {
            for (const field in fields) {
                if (fields[field]) {
                    fields[field].style.display = "none";
                }
            }
        }

        function clearInputs() {
            Object.values(fields).forEach(field => {
                if (field) {
                    const inputs = field.getElementsByTagName("input");
                    for (const input of inputs) {
                        if (input.type === "radio") {
                            input.checked = false;
                        } else {
                            input.value = "";
                        }
                    }
                }
            });
        }

        hideAllFields();

        for (const radio of afficheRadio) {
            radio.addEventListener('change', function() {
                hideAllFields();
                clearInputs();
                if (this.checked) {
                    switch (this.value) {
                        case 'décès':
                            fields.décès.style.display = "block";
                            break;
                        case 'perdu de vue':
                            fields.perdu.style.display = "block";
                            fields.raison.style.display = "block";
                            fields.derniereVisite.style.display = "block";
                            break;
                        case 'transfert de dossier':
                            fields.transfert.style.display = "block";
                            fields.raison.style.display = "block";
                            fields.afficheref.style.display = "block";
                            break;
                        case 'refus de suivi':
                            fields.refus.style.display = "block";
                            fields.raison.style.display = "block";
                            fields.derniereVisite.style.display = "block";
                            fields.afficheref.style.display = "block";
                            break;
                        case 'guéri':
                            fields.afficheref.style.display = "block";
                            break;
                    }
                }
            });
        }
    }

    // Fonction pour gérer l'affichage du rendez-vous
    function rdv() {
        const inputField7 = document.getElementById("rdvdate");
        const afficheRadio1 = document.getElementsByName("rdv");

        inputField7.style.display = "none";

        for (const radio of afficheRadio1) {
            radio.addEventListener('change', function() {
                inputField7.style.display = this.value === 'oui' ? "block" : "none";
                if (this.value === 'non') {
                    document.getElementById("val").value = ""; // Réinitialiser la valeur
                }
            });
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        sortie();
        rdv();
    });

    // Pour le input date de rdv
    const today = new Date().toISOString().split('T')[0];
    document.getElementById('val').setAttribute('min', today);
</script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</center>
{% endblock %}

