
    date= models.fields.DateTimeField(default=datetime.now)                                                                                
    consultation=models.ForeignKey(consultation, on_delete=models.CASCADE) 
    
{% extends 'listings/template.html' %}

{% block formconstnte %}
<center>
<form method="post" action=""  class="formcontenu">
    {% csrf_token %}
    <fieldset class="fieldsetgd">
            
            <input type="text"   placeholder="taille en  cm" name="taille" class="inputcontenu"/>
            <input type="text" placeholder="température en C°" name="temperature" class="inputcontenu"/>
            <input type="text"   placeholder="imc kg/m2 " name="imc" class="inputcontenu"/>
            <input type="submit"  name="valideconstante"  value="Enregister" class="btn btn-primary"/>


    </fieldset>
</form>
</center>
{% endblock %}
