{% extends 'listings/template.html' %}
{% block formantgynecologique %}
<center><form method="post" action="" class="formcontenu">
    <div>
        <nav class="divcontenunav">antécédant gynécologique</nav>
    </div>

    {% csrf_token %}
    <fieldset>     
        {% if success %}
        <p class="p2">antécédant gynécologique enregistré.</p>
        {% endif %}
        {% if error_message %}
                <p class="p1">{{ error_message }}</p>
        {% endif %}

            <div class="divsortie">
                <label  >parité</label>
                <input  type="text" name="parite" />
            </div>


            <div class="divsortie">
                <label  >gestite</label>
                <input  type="text" name="gestite" />
            </div>

            <div class="divsortie">
                <label  >Date de dernière règles</label>
                <input  type="date" name="datederniereregle" id="datederniereregle" />
            </div>


            <div class="divsortie">
                <label class="form-check-label">césarienne</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="cesarienne" id="inlineRadio3" value="oui" onclick="antecedantgyn()" />
                    <label class="form-check-label" for="inlineRadio3">oui</label>                   
                </div>
                <div class="form-check form-check-inline">
                    <input  class="form-check-input" type="radio" name="cesarienne" id="inlineRadio4" value="non" onclick="antecedantgyn()" />
                    <label class="form-check-label" for="inlineRadio4">non</label>
                </div>
                <div class="test" id="resultat1" style="margin-right:93px">
                    <label class="form-check-label" for="inlineRadio5">date</label>
                    <input  type="date" name="datecesarienne" id="inlineRadio5" style="padding:10px"/>
                </div>
            </div>


            <div class="divsortie">
                <label>prise de contraceptif</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="prisecontraceptif" id="inlineRadio1" value="oui"/>
                    <label class="form-check-label" for="inlineRadio1">oui</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="prisecontraceptif" id="inlineRadio2" value="non"/>
                    <label class="form-check-label" for="inlineRadio2">non</label>
                </div>

            </div>
            <input  type="hidden" name="patient" value="{{patient_id1}}"/>   
    </fieldset>
    <input  type="submit" name="validantgyn" value="Valider" class="btn btn-primary" >
</form>

<script>

function antecedantgyn(){
        var afficheRadio= document.getElementsByName("cesarienne");
        for (var i = 0; i < afficheRadio.length; i++) {
            if (afficheRadio[i].checked) {
                switch(afficheRadio[i].value){
                    case 'oui':
                    var inputField = document.getElementById("resultat1");
                        inputField.style.display = "block";
                    break;

                    case 'non':
                    var inputField = document.getElementById("resultat1");
                        inputField.style.display = "none";
                        document.getElementById("inlineRadio5").value="";
                    break;
                }
            }
        }
    }

</script>

</center>
{% endblock %}

