{% extends 'listings/template.html' %}
{% block formsortie %}
<center><form method="post" action="" class="formcontenu" >

    <div>
        <nav class="divcontenunav">SORTIE</nav>
    </div>

    {% csrf_token %}
    <fieldset>   
        
        <div  class="divsortie">
            <label >PATIENT CONCERNE</label>
            <input  type="text" name="patient" >
        </div>

        <div class="divsortie">
            <label> MOTIF DE SORTIE</label>
            <select name="motifsortie"  required>
                    <option value="mort">mort</option>
                    <option value="fuite">fuite</option>
            </select>
        </div>

        <div class="divsortie">
        <label  >DATE DE SORTIE</label>
        <input  type="date" name="datesortie" >
        </div>

        <div class="divsortie">
        <label>DATE DE DU RENDEZ-VOUS PROCHAIN</label>
        <input  type="date" name="prochaineconsultation" >
        </div>
    </fieldset>
    <input  type="submit" name="validesortie" value="Valider" class="btn btn-primary" >
</form>
</center>
{% endblock %}

