{% extends 'listings/template.html' %}
{% block formfacture %}
<center>
<form method="post" action="" class="formcontenu">
<div>
<nav class="divcontenunav">facture</nav>
</div>
    {% csrf_token %}
    <fieldset>
        <input type="text"  placeholder="numero de la facture" name="numerofact" class="inputcontenu"/>
        <input type="text"  placeholder="mode de paiment" name="modepaiment" class="inputcontenu"/>
        <input type="text"  placeholder="montant paye" name="montantpaye" class="inputcontenu"/>
        <input type="text"  placeholder="nom  du patient patient" name="patient" class="inputcontenu"/>

        <input type="text"  placeholder="duree du sejour" name="duree_sejour" class="inputcontenu"/>
        <input type="text"  placeholder="cout du sejour" name="cout_sejour" class="inputcontenu"/>
        <input type="text"  placeholder="remboursement" name="remboursement" class="inputcontenu"/>
        <input type="text"  placeholder="reste a payer" name="rest_a_payer" class="inputcontenu"/>
        <input type="text"  placeholder="date de versement" name="date_versement" class="inputcontenu"/>

            <input type="text"  name="date" class="inputcontenu"  id="dateInput" readonly />
    </fieldset>
    <input type="submit"  name="validepatient"  value="Enregistrer" class="btn btn-primary"/>
</form>
</center>
{% endblock %}
