{% extends 'listings/template.html' %}
{% block formpatient %}
<center>
<form method="post" action="{% url 'patient'  cst='cst' %}" class="formcontenu" enctype="multipart/form-data">
<div>
    <nav class="divcontenunav">Patient</nav>
</div>
    {% csrf_token %}
    <fieldset>
        {% if success %}
        <p class="p2">Patient a été créé et assigné au médecin {{medecin.nom}}.</p>
        {% endif %}
        {% if error_message %}
                <p class="p1">{{ error_message }}</p>
        {% endif %}

        <div class="divsortie">
            <label for="num">Numéro du patient</label>
            <input type="text" placeholder="Numéro du patient" name="numeropatient" id="num" class="inputcontenu" required/>
        </div>

        <div class="divsortie">
                <label for="medecins">médecins</label>
                <select name="medecin"  required>
                    <option>Choisir un médcin</option>
                    {% for medecin in medecins %}
                    <option value='{{ medecin.refpersoignant }}'>{{ medecin.nom }}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="divsortie">
            <label for="nom" >Nom et prénom</label>
            <input type="text" placeholder="Nom" name="nom" id="nom" class="inputcontenu" required/>
        </div>
        <div class="divsexe">
            <label>Sexe</label>
            <div><input type="radio" name="sexe" value="masculin"  id="msc" /><label for="msc"required  >Masculin</label></div>
            <div><input type="radio" name="sexe" value="féminin"  id ="fem" /><label for="fem" required>Féminin</label></div>
        </div>

        <div class="divsortie">
            <label for="email" >Email</label>
            <input type="email" placeholder="Email" name="email" id="email" class="inputcontenu"  pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"/>
        </div>
        
        <div class="divsortie">
            <label for="age" >Âge</label>
            <input type="text" placeholder="Âge" name="age" id="age" class="inputcontenu"  title="Veuillez entrer uniquement des chiffres" minlength="1" maxlength="3" required/>
        </div>


        <div class="divsortie">
            <label for="contact1" >Contact 1</label>
            <input type="tel"  placeholder="Numéro 1" name="contact1" id="contact1" class="inputcontenu" minlength="10" maxlength="20" required/>
        </div>
        <div class="divsortie">
            <label for="contact2">Contact 2</label>
            <input type="tel"   placeholder="Numéro 2" name="contact2" id="contact2" class="inputcontenu"  minlength="10" maxlength="20" required/>
        </div>
        
        <div class="divsortie">
            <label for="ville" >Ville</label>
            <input type="text" placeholder="Ville" name="ville" id="ville" class="inputcontenu" />
        </div>
        <div class="divsortie">
            <label for="commune" >Commune</label>
            <input type="text" placeholder="Commune" name="commune" id="commune" class="inputcontenu" />
        </div>
        <div class="divsortie">
            <label for="quartier" >Quartier</label>
            <input type="text" placeholder="Quartier" name="quartier" id="quartier" class="inputcontenu" />
        </div>
        

        <div class="divsortie">
            <label for="profession" >Profession</label>
            <select name="profession"  id="profession" required>
                <option>Choisir une profession</option>
                <option value="Agriculteurs exploitants">Agriculteurs exploitants</option>
                <option value="Artisans">Artisans</option>
                <option value="Commerçants">Commerçants</option>
                <option value="Chefs d'entreprise">Chefs d'entreprise</option>

                <option value="Cadres et professions intellectuelles supérieures">Cadres et professions intellectuelles supérieures</option>
                <option value="Professions intermédiaires">Professions intermédiaires</option>
                <option value="Employés">Employés</option>
                <option value="Ouvriers">Ouvriers</option>


                <option value="Retraités">Retraités</option>
                <option value="Autres personnes sans activité professionnelle">Autres personnes sans activité professionnelle</option>
                <option value="Élèves et étudiants">Élèves et étudiants</option>
            </select>
        </div>
        
        <div class="divsortie">
            <label for="nationalite">Nationalité</label>
            <input type="text" placeholder="Nationalité" name="nationalite" id="nationalite" class="inputcontenu" />
        </div>
        <div class="divsortie">
            <label for="situation_matrimoniale">Situation matrimoniale</label>
                <select name="situation_matrimoniale"  id="situation_matrimoniale" >
                    <option>Choisir une Situation matrimoniale</option>
                    <option value="Célibataire">Célibataire</option>
                    <option value="Divorcé">Divorcé</option>
                    <option value="Marié">Marié</option>
                    <option value="Veuf (ve)">Veuf (ve) </option>
                </select>
        </div>
        <div class="divsortie">
            <label for="nombre_enfant" >Nombre d'enfant</label>
            <input type="text" placeholder="Nombre d'enfant" name="nombre_enfant" id="nombre_enfant" class="inputcontenu" minlength="1" maxlength="3"/>
        </div>
        <div class="divsortie">
            <label for="personne_a_contacter" >Personne à contacter</label>
            <input type="text" placeholder="Personne à contacter" name="personne_a_contacter" id="personne_a_contacter" class="inputcontenu" required/>
        </div>
        <div class="divsortie">
            <label for="telephone_cpu" >Contact de la personne à contacter</label>
            <input type="tel" placeholder="Contact de la personne à contacter" name="telephone_cpu" id="telephone_cpu" class="inputcontenu"  minlength="10" maxlength="20" required/>
        </div>

    </fieldset>
    <input type="submit" name="validepatient" value="Enregistrer"  class="inp2"/>
</form>
</center>
<script>
    // Fonction pour empêcher la saisie de caractères non numériques
    function restrictInput(elementId) {
        document.getElementById(elementId).addEventListener('input', function () {
            this.value = this.value.replace(/[^0-9]/g, '');
        });
    }

    // Appliquer la fonction à chaque champ
    restrictInput('num');
    restrictInput('nombre_enfant');

    function restrictInput1(elementId) {
        const input = document.getElementById(elementId);
        
        input.addEventListener('input', function () {
            // Remplace les caractères non numériques
            this.value = this.value.replace(/[^0-9]/g, '');
    
            // Validation pour les valeurs en dehors de l'intervalle 1-101
            const value = parseInt(this.value, 10);
    
            // Vérifie si la valeur est valide
            if (this.value !== '' && (value < 1 || value > 101)) {
                this.setCustomValidity('La valeur doit être comprise entre 1 et 101.'); // Message d'erreur personnalisé
            } else {
                this.setCustomValidity(''); // Réinitialise le message d'erreur si la valeur est correcte
            }
        });
    }
    
    
    // Appliquer la fonction à chaque champ
    restrictInput1('age');



        // Fonction pour restreindre l'entrée pour le numéro de contact
        function restrictContactInput(elementId) {
            document.getElementById(elementId).addEventListener('input', function () {
                // On remplace les caractères non numériques et certains caractères valides
                this.value = this.value.replace(/[^0-9+\s()-]/g, '');
            });
        }
        restrictContactInput('telephone_cpu');
        restrictContactInput('contact1');
        restrictContactInput('contact2');
</script>

<!--<script>
    // Script pour empêcher la saisie de caractères non numériques
    document.getElementById('age','telephone_cpu').addEventListener('input', function (e) {
        this.value = this.value.replace(/[^0-9]/g, '');
    });
</script>-->

{% endblock %}
