{% extends 'listings/template.html' %}
{% block formmodifmdp %}
<center><form method="post" action="{% url 'modificationmdp' %}" class="formcontenu" >

    <div>
        <nav class="divcontenunav">modifier un mot de passe</nav>
    </div>

    {% csrf_token %}
    <fieldset>   
        {% if success %}
        <p class="alert alert-success">Mot de passe mis à jour avec succès.</p>
        {% endif %}
        {% if error_message %}
                <p class="alert alert-danger">{{ error_message }}</p>
        {% endif %}
        
        <div class="divsortie">
            <label>utilisateur concerné</label>
                <select name="nom"  required>
                    <option>choisir l'utilisateur</option>
                    {% for customUser in customUsers %}
                        <option value="{{ customUser.refpersoignant }}">{{ customUser.nom }}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="divsortie">
        <label>nouveau mot de passe</label>
        <input type="password" placeholder="mot de passe" name="mdp" id="password"  required />
        </div>
        
    </fieldset>
    <input  type="submit" name="validantchir" value="Modifier"  class="inp2"/>
</form>
</center>
<script>
    // Fonction pour restreindre l'entrée pour le mot de passe
    function restrictPasswordInput(elementId) {
        document.getElementById(elementId).addEventListener('input', function () {
            // On remplace les caractères non autorisés et limite à 8 caractères
            this.value = this.value.replace(/[^A-Za-z\d@$!%*?&]/g, '').slice(0, 8);
        });
    }

    // Appliquer les fonctions à chaque champ
    restrictPasswordInput('password');
</script>
{% endblock %}

