{% extends 'listings/template.html' %}

{% block formordonnance %}
<center>
<form method="post" action="" class="formcontenu">
    <div>
        <nav class="divcontenunav">ordonnance</nav>
    </div>
    {% csrf_token %}
    <fieldset>
        {% if success %}
        <p class="p2">Ordonnance enregistrée.</p>
        {% endif %}
        {% if error_message %}
            <p class="p1">{{ error_message }}</p>
        {% endif %}
        <table id="true" class="table1">
            <tr>
                <th>Nom du médicament</th>
                <th>Quantité</th>
                <th>Dosage</th>
            </tr>
            <tr> 
                <td> 
                    <div>
                        <select name="nommedicament[]" required>
                            <option value="">Choisir un médicament</option>
                            {% for medicament in medicaments %}
                            <option value="{{ medicament.idmedicament }}">{{ medicament.nommedicament }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
                <td>
                    <div>
                        <input type="text" name="quantite[]" />
                    </div>
                </td>
                <td>
                    <div>
                        <select name="dosage[]" required>
                            <option value="">Choisir le dosage</option>
                            {% for medicament in medicaments %}
                            <option value="{{ medicament.dosage }}">{{ medicament.dosage }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
            </tr>   
        </table>
        <div style="margin-left:620px">
            <input type="checkbox" name="ajout" value="oui" onclick="ajouter()" /> Ajouter un médicament
        </div>
        <input type="hidden" id="consultation" name="consulation" value="{{derniere_consultation_id}}">
    </fieldset>
    <input type="submit" name="valideconstante" value="Enregistrer" class="btn btn-primary"/>
</form>
</center>

<script>
    function ajouter() {
        var affichecheckbox = document.getElementsByName("ajout");
        var inputField = document.getElementById("true");

        for (var i = 0; i < affichecheckbox.length; i++) {
            if (affichecheckbox[i].checked) {
                if (affichecheckbox[i].value == "oui") {
                    var initialRowCount = inputField.rows.length;
                    var newRow = inputField.insertRow(-1);
                    var cell1 = newRow.insertCell(0);
                    var cell2 = newRow.insertCell(1);
                    var cell3 = newRow.insertCell(2);

                    cell1.innerHTML = `<div>
                        <select name="nommedicament[]" required>
                            <option value="">Choisir un médicament</option>
                            {% for medicament in medicaments %}
                            <option value="{{ medicament.idmedicament }}">{{ medicament.nommedicament }}</option>
                            {% endfor %}
                        </select>
                    </div>`;

                    cell2.innerHTML = `<div>
                        <input type="text" name="quantite[]" />
                    </div>`;

                    cell3.innerHTML = `<div>
                        <select name="dosage[]" required>
                            <option value="">Choisir le dosage</option>
                            {% for medicament in medicaments %}
                            <option value="{{ medicament.dosage }}">{{ medicament.dosage }}</option>
                            {% endfor %}
                        </select>
                    </div>`;

                    var finalRowCount = inputField.rows.length;
                    if (finalRowCount > initialRowCount) {
                        affichecheckbox[i].checked = false;
                    }
                }
            }
        }
    }
</script>
{% endblock %}
