{% extends 'listings/template.html' %}
{% block formmodifmdp %}
<center><form method="post" action="{% url 'modificationmdp' %}" class="formcontenu" >

    <div>
        <nav class="divcontenunav">modifier un mot de passe</nav>
    </div>

    {% csrf_token %}
    <fieldset>   
        {% if success %}
        <p class="p2">Mot de passe mis à jour avec succès pour l'utilisateur {{ user.nom }}.</p>
        {% endif %}
        {% if error_message %}
                <p class="p1">{{ error_message }}</p>
        {% endif %}
        
        <div class="divsortie">
            <label>utilisateur concerné</label>
                <select name="nom"  required>
                    <option>choisir l'utilisateur</option>
                    {% for customUser in customUsers %}
                        <option value="{{ customUser.refpersoignant }}">{{ customUser.nom }}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="divsortie">
        <label>nouveau mot de passe</label>
        <input  type="password" name="mdp" required/>
        </div>
        
    </fieldset>
    <input  type="submit" name="validantchir" value="Valider" class="btn btn-primary" >
</form>
</center>
{% endblock %}

