{% extends 'listings/template.html' %}
{% block formantchirurgical %}
<center><form method="post" action="{% url 'antecedantchirurgical' %}" class="formcontenu">
    <div>
        <nav class="divcontenunav">antécédant chirurgical</nav>
    </div>

    {% csrf_token %}
    <fieldset>    
        {% if success %}
        <p class="p2">antécédant chirurgical enregistré.</p>
        {% endif %}
        {% if error_message %}
                <p class="p1">{{ error_message }}</p>
        {% endif %}
        <div class="divsortie" >
            <label>avp</label>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio"  name="avp" id="inlineRadio1" value="oui" onclick="antecedantchiravp()"/>
                 <label class="form-check-label" for="inlineRadio1">oui</label>
             </div>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="avp" id="inlineRadio2" value="non" onclick="antecedantchiravp()"/>
                 <label class="form-check-label" for="inlineRadio2">non</label>
             </div>

                <table class="test"  id="resultat2">
                    <tr><th>date de l'avp</th></tr>
                    <tr>
                        <td>   
                            <input  type="date" name="dateavp" id="dateavp" />
                        </td>
                    </tr>
                </table>
        </div>


        <div class="divsortie" >
           <label >opération chirurgicale</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="operachir" id="inlineRadio3" value="oui" onclick="antecedantchiroperachir()"/>
                <label class="form-check-label" for="inlineRadio3">oui</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="operachir" id="inlineRadio4" value="non" onclick="antecedantchiroperachir()"/>
                <label class="form-check-label" for="inlineRadio4">non</label>
            </div>
                <table class="test" id="resultat3">
                    <tr><th>date de l'opération</th></tr>
                    <tr>
                        <td>   
                            <input  type="date" name="datoperachir" id="dateopera"/>
                        </td>
                    </tr>
                </table>
           
        </div>


        <div class="divsortie" >
            <label>Autre Antécédant chirurgical</label>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio"  name="autre1" id="inlineRadio3" value="oui" onclick="antecedantchirautre()"/>
                 <label class="form-check-label" for="inlineRadio3">oui</label>
             </div>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="autre1" id="inlineRadio4" value="non" onclick="antecedantchirautre()"/>
                 <label class="form-check-label" for="inlineRadio4">non</label>
             </div>

                <table class="test"  id="autre">
                    <tr><th>précisez</th></tr>
                    <tr>
                        <td>   
                            <input  type="text" name="autre" id="autrechamp"/>
                        </td>
                    </tr>
                </table>

        </div>
        <input  type="hidden" name="patient" value="{{patient_id1}}"/> 
    </fieldset>
    <input  type="submit" name="validmdp" value="Validers" class="inp2" />
</form>
<script>

function antecedantchiravp(){
    var afficheRadio= document.getElementsByName("avp");
    for (var i = 0; i < afficheRadio.length; i++) {
        if (afficheRadio[i].checked) {
            switch(afficheRadio[i].value){
                case 'oui':
                var inputField = document.getElementById("resultat2");
                    inputField.style.display = "block";
                break;

                case 'non':
                var inputField = document.getElementById("resultat2");
                    inputField.style.display = "none"; 
                    document.getElementById("dateavp").value="";
                break;
            }
        }
    }
}

function antecedantchirautre(){
    var afficheRadio= document.getElementsByName("autre1");
    for (var i = 0; i < afficheRadio.length; i++) {
        if (afficheRadio[i].checked) {
            switch(afficheRadio[i].value){
                case 'oui':
                var inputField = document.getElementById("autre");
                    inputField.style.display = "block";
                break;

                case 'non':
                var inputField = document.getElementById("autre");
                    inputField.style.display = "none"; 
                    document.getElementById("autrechamp").value="";
                break;
            }
        }
    }
}



function antecedantchiroperachir(){
    var afficheRadio= document.getElementsByName("operachir");
    for (var i = 0; i < afficheRadio.length; i++) {
        if (afficheRadio[i].checked) {
            switch(afficheRadio[i].value){
                case 'oui':
                var inputField = document.getElementById("resultat3");
                    inputField.style.display = "block";
                break;

                case 'non':
                var inputField = document.getElementById("resultat3");
                    inputField.style.display = "none";
                    document.getElementById("dateopera").value="";
                break;
            }
        }
    }
}




</script>
</center>
{% endblock %}

