{% extends 'listings/template.html' %}

{% block formconstante %}
<center>

<form method="post" action="{% url 'constante' %}"  class="formcontenu">
  {% if message %}
  <p>{{ message }}</p>
{% endif %}

<!-- Afficher les erreurs de formulaire -->
{% if form_errors %}
  <ul>
  {% for field, errors in form_errors.items %}
      <li>{{ field }}: {{ errors }}</li>
  {% endfor %}
  </ul>
{% endif %}
<div>
<nav class="divcontenunav">constante</nav>
</div>
    {% csrf_token %}
    <fieldset>
            <input type="text"   placeholder="poids en  kg" name="poids" class="inputcontenu"/>
            <input type="text"   placeholder="taille en  cm" name="taille" class="inputcontenu"/>
            <input type="text" placeholder="température en C°" name="temperature" class="inputcontenu"/>
            <input type="text"   placeholder="imc kg/m2 " name="imc" class="inputcontenu"/>
                  
            <div  class="content">
                  <label>tension artérielle</label>
                  <div class="leftconts">
                  <input type="text"   placeholder="TAS" name="tas" class="inputcontenu" />
                  </div>
                  <div class="rightconts">
                    <input type="text"   placeholder="TAD" name="tad" class="inputcontenu"/>
                  </div>
            </div>
            <input type="text" placeholder="pouls en  battements/mn " name="pouls" class="inputcontenu"/>
            <input type="hidden" id="patient" name="patient" value="{{ Patient_idpatient }}" />
    </fieldset>
    <input type="submit"  name="valideconstante"  value="Enregister" class="btn btn-primary"/>
</form>
</center>
{% endblock %}
