{% extends 'listings/template.html' %}
{% block formfacture %} 
<center>
<form method="post" action="" class="formcontenu">
<div>
<nav class="divcontenunav">Antécédents familial</nav>
</div>
<div style="margin-top:20px">

    {% csrf_token %}
    <fieldset>

        {% if success %}
        <p class="p2">antécédant familial enregistré.</p>
        {% endif %}
        {% if error_message %}
                <p class="p1">{{ error_message }}</p>
        {% endif %}

            <div>
                
                    <p style="color:deepskyblue;font-weight:bold;text-decoration:underline;text-transform:uppercase;text-align: start;
  margin-left: 5px;">Ascendants</p>
               
            <div>
                <label  class="form-check-label" style="margin-right:400px">hépatite</label>
                <div class="form-check form-check-inline" style="margin-right:50px">
                    <input class="form-check-input" type="radio" name="hepatie_vir_ASC" id="inlineRadio1" value="oui"/>
                    <label class="form-check-label" for="inlineRadio1">oui</label>
                </div>
                <div class="form-check form-check-inline" style="margin-right:50px">
                    <input class="form-check-input" type="radio" name="hepatie_vir_ASC" id="inlineRadio2" value="non"/>
                    <label class="form-check-label" for="inlineRadio2">non</label>
                </div>
                <div class="form-check form-check-inline" style="margin-right:50px">
                    <input class="form-check-input" type="radio" name="hepatie_vir_ASC" id="inlineRadio3" value="ne sait pas"/>
                    <label class="form-check-label" for="inlineRadio3">ne sait pass</label>
                </div>
            </div>
    
    
            <div class="p-2 g-col-6">
                <label  class="form-check-labe" style="margin-right:400px">cirrhose</label> 
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="cirrhose_ASC" id="inlineRadio4" value="oui"/>
                     <label class="form-check-label" for="inlineRadio4">oui</label>
                 </div>
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="cirrhose_ASC" id="inlineRadio5" value="non"/>
                     <label class="form-check-label" for="inlineRadio5">non</label>
                 </div>
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="cirrhose_ASC" id="inlineRadio6" value="ne sait pas"/>
                     <label class="form-check-label" for="inlineRadio6">ne sait pass</label>
                 </div>
             </div>
    
             <div class="p-2 g-col-6" >
                <label  class="form-check-label" style="margin-right:430px">cpf</label> 
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="cpf_ASC" id="inlineRadio22" value="oui">
                     <label class="form-check-label" for="inlineRadio22">oui</label>
                 </div>
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="cpf_ASC" id="inlineRadio23" value="non">
                     <label class="form-check-label" for="inlineRadio23">non</label>
                 </div>
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="cpf_ASC" id="inlineRadio24" value="ne sait pas">
                     <label class="form-check-label" for="inlineRadio24">ne sait pass</label>
                 </div>
             </div>
             
            </div>
            

            <div>
                
                    <p style="color:deepskyblue;font-weight:bold;text-decoration:underline;text-transform:uppercase;
  text-align: start;
  margin-left: 5px;">Déscendants</p>
                
             <div class="p-2 g-col-6" >
                <label  class="form-check-label" style="margin-right:400px">hépatite</label> 
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="hepatie_vir_DSC" id="inlineRadio25" value="oui">
                     <label class="form-check-label" for="inlineRadio25">oui</label>
                 </div>
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="hepatie_vir_DSC" id="inlineRadio26" value="non">
                     <label class="form-check-label" for="inlineRadio26">non</label>
                 </div>
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="hepatie_vir_DSC" id="inlineRadio27" value="ne sait pas">
                     <label class="form-check-label" for="inlineRadio27">ne sait pass</label>
                 </div>
             </div>
    
             <div  class="p-2 g-col-6">
                <label  class="form-check-label" style="margin-right:400px">cirrhose</label> 
                 <div class="form-check form-check-inline" style="margin-right:50px" >
                     <input class="form-check-input" type="radio" name="cirrhose_DSC" id="inlineRadio7" value="oui" />
                     <label class="form-check-label" for="inlineRadio7">oui</label>
                 </div>
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="cirrhose_DSC" id="inlineRadio8" value="non" />
                     <label class="form-check-label" for="inlineRadio8">non</label>
                 </div>
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="cirrhose_DSC" id="inlineRadio9" value="ne sait pas" />
                     <label class="form-check-label" for="inlineRadio9">ne sait pass</label>
                 </div>
    
                 
    
             </div>
    
    
             <div  class="p-2 g-col-6">
                <label  class="form-check-label" style="margin-right:430px">cpf</label> 
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="cpf_DSC" id="inlineRadio10" value="oui" />
                     <label class="form-check-label" for="inlineRadio10">oui</label>
                 </div>
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="cpf_DSC" id="inlineRadio11" value="non" />
                     <label class="form-check-label" for="inlineRadio11">non</label>
                 </div>
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="cpf_DSC" id="inlineRadio12" value="ne sait pas" /> 
                     <label class="form-check-label" for="inlineRadio12">ne sait pass</label>
                 </div>
    
                 
             </div>
    
            </div>

            <div>
                    <p style="color:deepskyblue;font-weight:bold;text-decoration:underline;text-transform:uppercase;text-align: start;
  margin-left: 5px;">Collatéraux</p>
             <div class="p-2 g-col-6">
                <label  class="form-check-label" style="margin-right:400px">hépatite</label> 
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="hepatie_vir_COL" id="inlineRadio13" value="oui" />
                     <label class="form-check-label" for="inlineRadio13">oui</label>
                 </div>
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="hepatie_vir_COL" id="inlineRadio14" value="non" />
                     <label class="form-check-label" for="inlineRadio14">non</label>
                 </div>
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="hepatie_vir_COL" id="inlineRadio15" value="ne sait pas" />
                     <label class="form-check-label" for="inlineRadio15">ne sait pass</label>
                 </div>
    
                 
    
             </div>
    
    
             <div class="p-2 g-col-6">
                <label  class="form-check-label" style="margin-right:400px">cirrhose</label> 
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="cirrhose_COL" id="inlineRadio16" value="oui" />
                     <label class="form-check-label" for="inlineRadio16">oui</label>
                 </div>
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="cirrhose_COL" id="inlineRadio17" value="non" />
                     <label class="form-check-label" for="inlineRadio17">non</label>
                 </div>
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="cirrhose_COL" id="inlineRadio18" value="ne sait pas" />
                     <label class="form-check-label" for="inlineRadio18">ne sait pass</label>
                 </div>
             </div>
    
    
    
             <div class="p-2 g-col-6">
                <label  class="form-check-label" style="margin-right:430px">cpf</label> 
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="cpf_COL" id="inlineRadio19" value="oui" />
                     <label class="form-check-label" for="inlineRadio19">oui</label>
                 </div>
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="cpf_COL" id="inlineRadio20" value="non" />
                     <label class="form-check-label" for="inlineRadio20">non</label>
                 </div>
                 <div class="form-check form-check-inline" style="margin-right:50px">
                     <input class="form-check-input" type="radio" name="cpf_COL" id="inlineRadio21" value="ne sait pas" />
                     <label class="form-check-label" for="inlineRadio21">ne sait pass</label>
                 </div>
                 
    
             </div>
            </div>
                <input  type="hidden" name="patient" value="{{patient_id1}}"/>             
    </fieldset>
</div>
    <input type="submit"  name="validepatient"  value="Enregistrer" class="btn btn-primary"/>
</form>
</center>
{% endblock %}
