{% extends 'listings/template.html' %}
{% block fromantmedical %}
<center><form method="post" action="" class="formcontenu">
    <div>
        <nav class="divcontenunav">antecedant medical</nav>
    </div>

    {% csrf_token %}
<fieldset>
<div class="left">       
        <div class="p-2 g-col-6" >
           <label  class="form-check-label">dyslipidemie</label><br/>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="dyslipidemie" id="inlineRadio1" value="oui"/>
                <label class="form-check-label" for="inlineRadio1">oui</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="dyslipidemie" id="inlineRadio2" value="non"/>
                <label class="form-check-label" for="inlineRadio2">non</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="dyslipidemie" id="inlineRadio3" value="ne sait pas"/>
                <label class="form-check-label" for="inlineRadio3">ne sait pass</label>
            </div>
        </div>


        <div class="p-2 g-col-6">
            <label  class="form-check-label"> cirrhose</label><br/>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="cirrhose" id="inlineRadio4" value="oui"/>
                 <label class="form-check-label" for="inlineRadio4">oui</label>
             </div>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="cirrhose" id="inlineRadio5" value="non"/>
                 <label class="form-check-label" for="inlineRadio5">non</label>
             </div>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="cirrhose" id="inlineRadio6" value="ne sait pas"/>
                 <label class="form-check-label" for="inlineRadio6">ne sait pass</label>
             </div>
         </div>


         <div  class="p-2 g-col-6">
            <label  class="form-check-label"> Hépatite virale B</label><br/>
             <div class="form-check form-check-inline" >
                 <input class="form-check-input" type="radio" name="hepatiteviraleb" id="inlineRadio7" value="oui" onclick="antecedantmedical()"/>
                 <label class="form-check-label" for="inlineRadio7">oui</label>
             </div>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="hepatiteviraleb" id="inlineRadio8" value="non" onclick="antecedantmedical()"/>
                 <label class="form-check-label" for="inlineRadio8">non</label>
             </div>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="hepatiteviraleb" id="inlineRadio9" value="ne sait pas" onclick="antecedantmedical()"/>
                 <label class="form-check-label" for="inlineRadio9">ne sait pass</label>
             </div>

             <div class="test" id="affich1">
                    <label>Date Hépatite virale B</label>
                    <input  type="date" name="datehepvirc"/>
            </div>

         </div>


         <div  class="p-2 g-col-6">
            <label  class="form-check-label"> Hépatite virale C</label><br/>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="hepatiteviralec" id="inlineRadio10" value="oui" onclick="antecedantmedical()"/>
                 <label class="form-check-label" for="inlineRadio10">oui</label>
             </div>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="hepatiteviralec" id="inlineRadio11" value="non" onclick="antecedantmedical()"/>
                 <label class="form-check-label" for="inlineRadio11">non</label>
             </div>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="hepatiteviralec" id="inlineRadio12" value="ne sait pas" onclick="antecedantmedical()"/> 
                 <label class="form-check-label" for="inlineRadio12">ne sait pass</label>
             </div>

             <div class="test" id="affich2">
                    <label>Date Hépatite virale C</label>
                    <input  type="date" name="datehepvirc"/>
            </div>

         </div>


         <div class="p-2 g-col-6">
            <label  class="form-check-label"> Hépatite virale D</label><br/>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="hepatiteviraled" id="inlineRadio13" value="oui" onclick="antecedantmedical()"/>
                 <label class="form-check-label" for="inlineRadio13">oui</label>
             </div>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="hepatiteviraled" id="inlineRadio14" value="non" onclick="antecedantmedical()"/>
                 <label class="form-check-label" for="inlineRadio14">non</label>
             </div>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="hepatiteviraled" id="inlineRadio15" value="ne sait pas" onclick="antecedantmedical()"/>
                 <label class="form-check-label" for="inlineRadio15">ne sait pass</label>
             </div>

             <div class="test" id="affich3">
                    <label>Date Hépatite virale D</label>
                    <input  type="date" name="datehepvird"/>
            </div>

         </div>


         <div class="p-2 g-col-6">
            <label  class="form-check-label"> vaccination vhb</label><br/>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="vaccination_vhb" id="inlineRadio16" value="oui" onclick="antecedantmedical()"/>
                 <label class="form-check-label" for="inlineRadio16">oui</label>
             </div>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="vaccination_vhb" id="inlineRadio17" value="non" onclick="antecedantmedical()"/>
                 <label class="form-check-label" for="inlineRadio17">non</label>
             </div>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="vaccination_vhb" id="inlineRadio18" value="ne sait pas" onclick="antecedantmedical()"/>
                 <label class="form-check-label" for="inlineRadio18">ne sait pass</label>
             </div>

             <div class="test" id="affich4">
                    <label>Nombre de dose</label>
                    <input  type="text" name="dosevhb"/>
            </div>

         </div>



         <div class="p-2 g-col-6">
            <label  class="form-check-label"> vaccination vha</label><br/>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="vaccination_vha" id="inlineRadio19" value="oui" onclick="antecedantmedical()"/>
                 <label class="form-check-label" for="inlineRadio19">oui</label>
             </div>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="vaccination_vha" id="inlineRadio20" value="non" onclick="antecedantmedical()"/>
                 <label class="form-check-label" for="inlineRadio20">non</label>
             </div>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="vaccination_vha" id="inlineRadio21" value="ne sait pas" onclick="antecedantmedical()"/>
                 <label class="form-check-label" for="inlineRadio21">ne sait pass</label>
             </div>
             <div class="test" id="affich5">
                    <label>Nombre de dose</label>
                    <input  type="text" name="dosevha"/>
            </div>

         </div>

         <div class="p-2 g-col-6" >
            <label  class="form-check-label">ictere</label><br/>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="ictere" id="inlineRadio22" value="oui">
                 <label class="form-check-label" for="inlineRadio22">oui</label>
             </div>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="ictere" id="inlineRadio23" value="non">
                 <label class="form-check-label" for="inlineRadio23">non</label>
             </div>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="ictere" id="inlineRadio24" value="ne sait pas">
                 <label class="form-check-label" for="inlineRadio24">ne sait pass</label>
             </div>
         </div>


         <div class="p-2 g-col-6" >
            <label  class="form-check-label">diabete</label><br/>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="diabete" id="inlineRadio25" value="oui">
                 <label class="form-check-label" for="inlineRadio25">oui</label>
             </div>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="diabete" id="inlineRadio26" value="non">
                 <label class="form-check-label" for="inlineRadio26">non</label>
             </div>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="diabete" id="inlineRadio27" value="ne sait pas">
                 <label class="form-check-label" for="inlineRadio27">ne sait pass</label>
             </div>
         </div>
</div>
        
<div class="right">
                    <div  class="p-2 g-col-6">
                        <label  class="form-check-label">transfusion sanguine</label><br/>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="transfusion_sanguine" id="inlineRadio28" value="oui" onclick="antecedantmedical()"/>
                            <label class="form-check-label" for="inlineRadio28">oui</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="transfusion_sanguine" id="inlineRadio29" value="non" onclick="antecedantmedical()"/>
                            <label class="form-check-label" for="inlineRadio29">non</label>
                        </div>

                        <div class="test" id="affich6">
                                <label>Date de la transfusion</label>
                                <input  type="date" name="datransing"/>
                        </div>

                    </div>


                    <div class="p-2 g-col-6">
                        <label  class="form-check-label">hta</label><br/>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="hta" id="inlineRadio30" value="oui">
                            <label class="form-check-label" for="inlineRadio30">oui</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="hta" id="inlineRadio31" value="non">
                            <label class="form-check-label" for="inlineRadio31">non</label>
                        </div>
                    </div>


                    <div class="p-2 g-col-6">
                        <label  class="form-check-label">Transplantation hépatique</label><br/>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="transplanhepatique" id="inlineRadio32" value="oui">
                            <label class="form-check-label" for="inlineRadio32">oui</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="transplanhepatique" id="inlineRadio33" value="non">
                            <label class="form-check-label" for="inlineRadio33">non</label>
                        </div>
                    </div>

                    <div class="p-2 g-col-6">
                        <label  class="form-check-label">toxicomanie</label><br/>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="toxicomanie" id="inlineRadio34" value="oui">
                            <label class="form-check-label" for="inlineRadio34">oui</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="toxicomanie" id="inlineRadio35" value="non">
                            <label class="form-check-label" for="inlineRadio35">non</label>
                        </div>
                    </div>

                    <div class="p-2 g-col-6">
                        <label  class="form-check-label">Accident d’exposition au sang</label><br/>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="accidexposang" id="inlineRadio36" value="oui">
                            <label class="form-check-label" for="inlineRadio36">oui</label>
                            <input type="date"  id="datransing" name="datransing"  class="test" placeholder="preciser la date"/>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="accidexposang" id="inlineRadio37" value="non">
                            <label class="form-check-label" for="inlineRadio37">non</label>
                        </div>
                    </div>

                    <div class="p-2 g-col-6" >
                        <label  class="form-check-label">Partage d’objets de toilette</label><br/>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="partageobjettoilette" id="inlineRadio38" value="oui">
                            <label class="form-check-label" for="inlineRadio38">oui</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="partageobjettoilette" id="inlineRadio39" value="non">
                            <label class="form-check-label" for="inlineRadio39">non</label>
                        </div>
                    </div>

                    <div class="p-2 g-col-6" >
                        <label  class="form-check-label">Rapports sexuels non protégés</label><br/>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rapportsexuelnonprotege" id="inlineRadio40" value="oui">
                            <label class="form-check-label" for="inlineRadio40">oui</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rapportsexuelnonprotege" id="inlineRadio41" value="non">
                            <label class="form-check-label" for="inlineRadio41">non</label>
                        </div>
                    </div>


                    <div class="p-2 g-col-6">
                        <label  class="form-check-label">Autres</label><br/>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="autre" id="inlineRadio42" value="oui" onclick="antecedantmedical()"/>
                            <label class="form-check-label" for="inlineRadio42">oui</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="autre" id="inlineRadio43" value="non" onclick="antecedantmedical()"/>
                            <label class="form-check-label" for="inlineRadio43">non</label>
                        </div>

                        <div  class="test" id="affich7">
                                <label>préciser</label>
                                <input  type="text" name="precisionautre"/>
                        </div>

                    </div>
</div>
</fieldset>
<input type="submit"  name="ceercompte"  value="CREER LE COMPTE" class="btn btn-primary"/>
</form>
</center>
{% endblock %}
