{% extends 'listings/head.html' %}
{% block content %}
<center><form method="POST" action="{% url 'login' %}" class="formcnx">
    {% csrf_token %}
    <fieldset>
            <input type="text"   placeholder="nom" name="nom" class="inputformcnx" required/>
            <input type="password"  placeholder="Password" name="mdp" class="inputformcnx" required/>
            {% if error_message %}
                <p class="p1">{{ error_message }}</p>
            {% endif %}
    </fieldset>
    <input type="submit"  name="connexion"  value="connexion" class="btn btn-primary"/>
   <!-- <a href="#" class="aformcnx">mot de passe oublié?</a>-->
</form></center>
{% endblock %}
