{% extends 'listings/head.html' %}
{% block content %}
<center><form method="POST" action="{% url 'cnx' %}" class="formcnx">
    {% csrf_token %}
    <fieldset>
            <input type="text"   placeholder="nom" name="nom" class="inputformcnx" required/>
            <input type="password"  placeholder="mot de passe" name="mdp" class="inputformcnx" required/>
            {% if form.errors %}
                <p class="p1">{{ form.errors }}</p>
                <p class="p1">Erreur</p>
            {% endif %}
    </fieldset>
    <input type="submit"  name="connexion"  value="connexion" class="btn btn-primary"/>
   <!-- <a href="#" class="aformcnx">mot de passe oublié?</a>-->
</form></center>
{% endblock %}
