{% extends 'listings/template.html' %}

{% block menudocteur %}
<div class="page-sidebar-inner slimscroll">
                        <ul class="accordion-menu">
                            <li>
                                <a  href="#" class="active"><i class="material-icons-outlined">visibility</i>RENDEZ-VOUS</a>
                            </li>
                            
                            <li>
                                <a  href="{% url 'tableauconsultation' %}"><i class="material-icons-outlined">visibility</i>CONSULTATION</a>
                            </li>

                            <li>
                                <a  href="#"><i class="material-icons-outlined">folder</i>CONSULTER UN DOSSIER PATIENT</a>
                            </li>

                            <li>
                                <a  href="{% url 'sortie_patient' %}"><i class="material-icons-outlined">directions_walk</i>AUTORISER UNE SORTIE</a>
                            </li>
                            
                            <li>
                                <a  href="{% url 'deconnexion' %}" ><i class="material-icons">logout</i>DECONNEXION</a>
                            </li>
                        </ul>
</div>
{% endblock %}
