{% extends 'listings/template.html' %}
{% block menuinfirmirer %}
                        <ul class="accordion-menu">
                            
                            <li>
                                <a href="#" ><i class="material-icons">search</i>Rechercher un dossier patient</a>
                            </li>

                            <li>
                                <a  href="#" class="active"><i class="material-icons-outlined">calendar_today</i>Rendez-vous</a>
                            </li>

                            <li>
                                <a  href="#" ><i class="material-icons-outlined">person-check</i>Médecin disponible</a> <!--faire une requete pour afficher une liste de tous les medecins connectes-->
                            </li>

                            <li>
                                <a  href="{% url 'patient' %}" ><i class="material-icons-outlined">save</i>Enregister un patient</a>
                            </li>
                            
                            <li>
                                <a  href="{% url 'deconnexion' %}"><i class="material-icons">logout</i>Déconnexion</a>
                            </li>
                        </ul>
{% endblock %}
