{% extends 'listings/template.html' %}
{% block menuinfirmirer %}
                        <ul class="accordion-menu">
                            
                            <li>
                                <a href="#" ><i class="material-icons">search</i>RECHERCHE DOSSIER PATIENT</a>
                            </li>

                            <li>
                                <a  href="#" class="active"><i class="material-icons-outlined">calendar_today</i>RENDEZ-VOUS</a>
                            </li>

                            <li>
                                <a  href="#" ><i class="material-icons-outlined">person-check</i>MEDECIN DISPONIBLE</a>
                            </li>

                            <li>
                                <a  href="{% url 'patient' %}" id="lien1"><i class="material-icons-outlined">save</i>ENREGISTRER UN PATIENT</a>
                            </li>
                            
                            <li>
                                <a  href="{% url 'deconnexion' %}"><i class="material-icons">logout</i>DECONNEXION</a>
                            </li>
                        </ul>
{% endblock %}
