{% extends 'listings/template.html' %}
{% block menuinfirmirer %}
<div class="page-sidebar-inner slimscroll">
                        <ul class="accordion-menu">
                            
                            <li>
                                <a href="#"><i class="material-icons">search</i>RECHERCHE DOSSIER PATIENT</a>
                            </li>

                            <li>
                                <a  href="#" class="active"><i class="material-icons-outlined"></i>RENDEZ-VOUS</a>
                            </li>
                            <li>
                                <a  href="#"><i class="material-icons-outlined">person-check</i>MEDECIN DISPONIBLE</a>
                            </li>
                            
                            <li>
                                <a  href="{% url 'deconnexion'%}"><i class="material-icons">logout</i>DECONNEXION</a>
                            </li>
                        </ul>
</div>
{% endblock %}
