{% extends 'listings/template.html' %}

{% block menuadmin %}
<div class="page-sidebar-inner slimscroll">
                        <ul class="accordion-menu">
                            <li>
                                <a href="#"><i class="material-icons">search</i>CREER UN UTILISATEUR</a>
                            </li>

                            <li>
                                <a  href="#" class="active"><i class="material-icons-outlined"></i>CHANGER UN MOT DE PASSE</a>
                            </li>
                            <li>
                                <a  href="#"><i class="material-icons-outlined">person-check</i>VOIR LES ACTIVITEES</a>
                            </li>
                            
                            <li>
                                <a  href="#"><i class="material-icons-outlined">person-check</i>AFFICHER LE TABLEAU DE BORD</a>
                            </li>

                            <li>
                                <a  href="#"><i class="material-icons-outlined">person-check</i>AJOUTER DE NOUVELLES CHOSES </a>
                            </li>
                            
                            <li>
                                <a  href="#"><i class="material-icons">logout</i>DECONNEXION</a>
                            </li>
                        </ul>
</div>
{% endblock %}
