{% extends 'listings/template.html' %}

{% block menuadmin %}
<div class="page-sidebar-inner slimscroll">
                        <ul class="accordion-menu">
                            <li>
                                <a href="{% url 'adminform' %}"><i class="material-icons">person_edit</i>CREER UN UTILISATEUR</a>
                            </li>

                            <li>
                                <a  href="#" class="active"><i class="material-icons-outlined">update</i>CHANGER UN MOT DE PASSE</a>
                            </li>
                            <li>
                                <a  href="#"><i class="material-icons-outlined">visibility</i>VOIR LES ACTIVITEES</a>
                            </li>
                            
                            <li>
                                <a  href="#"><i class="material-icons-outlined">show_chart</i>AFFICHER LE TABLEAU DE BORD</a>
                            </li>

                            <li>
                                <a  href="#"><i class="material-icons-outlined">add</i>AJOUTER DE NOUVELLES CHOSES </a>
                            </li>
                            
                            <li>
                                <a  href="{% url 'deconnexion' %}" ><i class="material-icons">logout</i>DECONNEXION</a>
                            </li>
                        </ul>
</div>
{% endblock %}
