{% extends 'listings/template.html' %}
{% load static %}
{% block rightaffiche %}
<div class="page-container">
    <div class="page-header">
        <nav class="navbar navbar-expand">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav">
                <li class="nav-item small-screens-sidebar-link">
                    <a href="#" class="nav-link"><i class="material-icons-outlined">menu</i></a>
                </li>
            <!--profil image-->
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'listings/homme.png' %}"  width="105px" alt="profile image">
                        <span> {{user.Type_personnel_soignant.nompersog }} {{ user.nom }}</span>
                    </a>
                </li>
                <!--profil image fin-->
            </ul>
             <!--rechercher-->
        <div class="collapse navbar-collapse" id="navbarNav"></div>
            <div class="navbar-search">
                <form>
                    <div class="form-group">
                        <input type="text" name="search" id="nav-search" placeholder="Search...">
                    </div>
                </form>
            </div>
       
        <!--rechercher fin-->
        </nav>
    
    </div>
            <div class="row">
                <div class="col-xl">
                    <div class="card1">
                        <div class="card-body1">
                            {% block chart %}{% endblock %}
                            {% block tableauconsultation %} {% endblock %}
                            {% block formbilanbio %} {% endblock %}
                            {% block content%} {% endblock %}
                            {% block formbilanimg %} {% endblock %}
                            {% block formconstante %} {% endblock %}
                            {% block formmodifmdp %} {% endblock %}
                            {% block formfacture %} {% endblock %}
                            {% block consultationform %} {% endblock %}
                            {% block formpatient %} {% endblock %}
                            {% block formdiagnostique %} {% endblock %}
                            {% block formordonnance %}  {% endblock %}
                            {% block fromantmedical %}   {% endblock %}
                            {% block formantchirurgical %} {% endblock %}
                            {% block formantgynecologique %} {% endblock %}
                            {% block formsortie %} {% endblock %}
                            {% block formadmin %} {% endblock %}
                        
                    </div>
                </div>
            </div>
        </div>
   <!-- <div class="page-footer">

        <div class="row">

            <div class="col-md-12">

                <span class="footer-text">2019 © stacks</span>

            </div>

        </div>

    </div>-->
</div>
</div>
{% endblock %}