{% extends 'listings/template.html' %}
{% block formsp %}
<style>
    .contentleft1 {
        display: flex; /* Utiliser Flexbox */
        gap:5px; /* Espace entre les inputs */
        float:right;
        margin-right:115px;
    }
    .contentleft1 input {
        width:190px; /* Largeur fixe pour les inputs */
        padding: 8px; /* Espacement intérieur */
        box-sizing: border-box; 
    }
    .contentleft3{
        margin-right: 100px;
        float: left;
    }
    
    
</style>

<center>

<form method="post" action="" class="formcontenu">
    <div>
        <nav class="divcontenunav">Examen physique</nav>
    </div>
    {% csrf_token %}
    <fieldset>
        {% if success %}
        <p class="p2">Examen physique Enregistré.</p>
        {% endif %}
        {% if error_message %}
        <p class="p1">{{ error_message }}</p>
        {% endif %}
        <div>
            <div class="p-2 g-col-6">

                <div class="form-check form-check-inline">
                        <label class="form-check-label" style="margin-right:280px">signe insuffisance hépatocéllulaire</label>
                        <div class="form-check form-check-inline" id="divd1">
                            <input type="radio" name="sih" value="oui" class="form-check-input" id="exampleRadios60" />
                            <label class="form-check-label" for="exampleRadios60">oui</label>
                        </div>
                        <div class="form-check form-check-inline" id="divd1">
                            <input type="radio" name="sih" value="non" class="form-check-input" id="exampleRadios61" />
                            <label class="form-check-label" for="exampleRadios61">non</label>
                        </div>
                </div>
            </div>

            <div class="p-2 g-col-6">

                <div class="form-check form-check-inline">
                    <label class="form-check-label" style="margin-right:405px">toucher rectal</label>

                    <div class="form-check form-check-inline" id="divd1">
                        <input type="radio" name="resultattoucherectal1" value="oui" onclick="val()" class="form-check-input"  id="exampleRadios64" />
                        <label class="form-check-label" for="exampleRadios64">oui</label>
                    </div>
                    <div class="form-check form-check-inline" id="divd1">
                        <input type="radio" name="resultattoucherectal1" value="non" onclick="val()" class="form-check-input"  id="exampleRadios65" />
                        <label class="form-check-label" for="exampleRadios65">non</label>
                    </div>
                </div>

                <div class="test" id="touch" style="display: none;">
                    <div class="divsortie">
                        <label class="form-check-label" style="margin-left:24px">résultat</label>
                        <textarea id="resultatToucherRectal" name="resultattoucherectal" placeholder="résultat"></textarea>
                    </div>
                </div>

            </div>

            <div class="p-2 g-col-6">
                <div class="form-check form-check-inline">
                    <label class="form-check-label" style="margin-right:320px">signe hypertension portable</label>
                    <div class="form-check form-check-inline" id="divd1">
                        <input type="radio" name="shp" value="oui" class="form-check-input" id="exampleRadios62" />
                        <label class="form-check-label" for="exampleRadios62">oui</label>
                    </div>
                    <div class="form-check form-check-inline" id="divd1">
                        <input type="radio" name="shp" value="non" class="form-check-input" id="exampleRadios63" />
                        <label class="form-check-label" for="exampleRadios63">non</label>
                    </div>
                </div>
            </div>

            <div  style="margin-left:15px" class="p-2 g-col-6">
                <div class="divsortie">
                    <label>Etat de conscience</label>
                    <div  class="form-check form-check-inline" style=" margin-left:410px">
                        <input type="radio"  name="etat_de_conscience"  value="Conscience normale"   class="form-check-input"  id="exampleRadios12"/>
                        <label class="form-check-label" for="exampleRadios12">Conscience normale </label>
                    </div>

                    <div  class="form-check" style=" margin-left:323px">
                        <input type="radio"  name="etat_de_conscience"  value="Astérixis"    class="form-check-input" id="exampleRadios13"/>
                        <label class="form-check-label" for="exampleRadios13">Astérixis </label>
                    </div>
                    <div  class="form-check" style=" margin-left:415px">
                        <input type="radio"  name="etat_de_conscience"  value="Syndrome confusionnel"    class="form-check-input" id="exampleRadios14"/>
                        <label class="form-check-label" for="exampleRadios14">Syndrome confusionnel </label>
                    </div>
                    <div  class="form-check" style=" margin-left:303px">
                        <input type="radio"  name="etat_de_conscience"  value="Coma"    class="form-check-input" id="exampleRadios15"/>
                        <label class="form-check-label" for="exampleRadios15">Coma</label>
                    </div>
                </div>
            </div>

            <div style="overflow:hidden; margin-left:25px" class="p-2 g-col-6">
                <div class="contentleft2">
                    <label>Flèche hépatique</label>
                </div>
                <div class="contentleft1">
                    <input type="text" placeholder="lmc" name="lmc" id="lmc" />
                    <input type="text" placeholder="lxo" name="lxo" id="lxo" />
                </div>
            </div> 
            
            
    

            <div class="p-2 g-col-6">
                <div class="divsortie">
                    <label style="margin-left:23px">observation</label>
                    <textarea name="observation" placeholder="observation" rows="5" cols="30"></textarea>
                </div>
            </div>

        </div>
        <input type="hidden" id="patient" name="patient" value="{{idpatient}}" />
    </fieldset>
    <input type="submit" name="valideconstante" value="Enregistrer" class="btn btn-primary" />
</form>
</center>
<script>
  
var afficheRadio10 = document.getElementsByName('resultattoucherectal1');

function val() {
    for (var i = 0; i < afficheRadio10.length; i++) {
        if (afficheRadio10[i].checked) {
            var inputField = document.getElementById("touch");
            var textarea = document.getElementById("resultatToucherRectal");

            switch (afficheRadio10[i].value) {
                case 'oui':
                    inputField.style.display = "block";
                    break;
                case 'non':
                    inputField.style.display = "none";
                    textarea.value = ""; // Effacer le contenu du textarea
                    break;
            }
        }
    }
}
</script>
{% endblock %}
