{% extends 'listings/template.html' %}
{% block tableaudisponibilites %}
<center>
<form method="post" action=""  class="formcontenu">
   {% csrf_token %}
   
       {% for medecin in medecins %}
            <label style="display: block; text-align: start; margin-left:5px">
                <input type="checkbox" name="medecins" value="{{ medecin.refpersoignant }}">
                {{ medecin.nom }}
            </label>
       {% endfor %}
   
       <input  type="submit" name="ajouter" value="Valider" class="btn btn-primary"/ >
</form>
</center>
{% endblock %}