{% extends 'listings/template.html' %}

{% block tableauconsultation %}

<center><table class="table table-success table-striped">
      <tr>
        <th >date</th>
        <th >dossier</th>
        <th >faire la consultation</th>
      </tr>
      <tr>
        <td>Software Engineer</td>
        <td>sfrost34@example.com</td>
        <td>sfrost34@example.com</td>
      </tr>

      <tr>
        <td>Office Manager</td>
        <td>jgaines75@example.com</td>
        <td>sfrost34@example.com</td>
      </tr>

      <tr>
        <td>Office Manager</td>
        <td>jgaines75@example.com</td>
        <td>sfrost34@example.com</td>
      </tr>

  </table> </center>
{% endblock %}