{% extends 'listings/template.html' %}

{% block tableauconsultation %}

<center>
  <div class="formcontenu">
  <table class="table2">
      <tr>
        <th >heure d'envoie</th>
        <th >patient à consulter</th>
      </tr>
      <tr>
        <td>Software Engineer</td>
        <td>
          non patient dossier<a  href="{% url 'consultation' %}">Consultation</a>
        </td>
      </tr>

      <tr>
        <td>Office Manager</td>
        <td>
          non patient dossier<a  href="{% url 'consultation' %}">Consultation</a>
        </td>
      </tr>

      <tr>
        <td>Office Manager</td>
        <td>
          non patient dossier <a  href="{% url 'consultation' %}">Consultation</a>
        </td>
      </tr>
  </table>
  </div>
</center>
{% endblock %}