{% extends 'listings/template.html' %}

{% block tableauconsultation %}

<center>
  <div class="formcontenu">
  <table class="table2">
      <tr>
        <th >heure</th>
        <th >dossier</th>
        <th >faire la consultation</th>
      </tr>

      <tr>
        <td>Software Engineer</td>
        <td>sfrost34@example.com</td>
        <td>
            <a  href="{% url 'consultation' %}">Consultation</a>
        </td>
      </tr>

      <tr>
        <td>Office Manager</td>
        <td>jgaines75@example.com</td>
        <td>
            <a  href="{% url 'consultation' %}">Consultation</a>
        </td>
      </tr>

      <tr>
        <td>Office Manager</td>
        <td>jgaines75@example.com</td>
        <td>
            <a  href="{% url 'consultation' %}">Consultation</a>
        </td>
      </tr>
  </table>
  </div>
</center>
{% endblock %}