{% extends 'listings/template.html' %}
{% block tableaudisponibilites %}
<center>
<form method="post" action=""  class="formcontenu">
   {% csrf_token %}
   
       {% for medecin in medecins %}
          
               <label>
                   <input type="checkbox" name="medecins" value="{{ medecin.refpersoignant }}">{{ medecin.nom }}
                   
               </label><br/> 
          
       {% endfor %}
   
       <input  type="submit" name="ajouter" value="Valider" class="btn btn-primary"/ >
</form>
</center>
{% endblock %}