{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
        <!-- Title -->
        <title>Connect - Responsive Admin Dashboard Template</title>
        <script>
            function signedigstif() {
                var afficheRadio= document.getElementsByName('b1');
                for (var i = 0; i < afficheRadio.length; i++) {
                    if (afficheRadio[i].checked) {
                        switch(afficheRadio[i].value){
                            case 'oui1':
                            var inputField = document.getElementById("signedigestifs");
                            inputField.style.display = "block";
                            break;

                            case 'oui2':
                            var inputField = document.getElementById("signeextradigestif");
                            inputField.style.display = "block";
                            break;

                            case 'oui3':
                            var inputField = document.getElementById("signeasso");
                            inputField.style.display = "block";

                            break;


                            case 'oui4':

                            var inputField = document.getElementById("nombredeverredalcool");
                            inputField.style.display = "block";

                            break;



                            case 'oui5':

                            var inputField = document.getElementById("nombredepaquetdetabac");

                            inputField.style.display = "block";


                            break;



                            case 'oui6':

                            var inputField = document.getElementById("medocencours");

                            inputField.style.display = "block";

                            break;



                            case 'oui7':

                            var inputField = document.getElementById("Bilanbiologiqueanterieur");

                            inputField.style.display = "block";

                            break;



                            case 'non1':

                            var inputField = document.getElementById("signedigestifs");
                            inputField.style.display = "none"; 
                            break;
                            case 'non2':
                            var inputField = document.getElementById("signeextradigestif");
                            inputField.style.display = "none"; 
                            break;
                            case 'non3':
                            var inputField = document.getElementById("signeasso");
                            inputField.style.display = "none"; 
                            break;
                            case 'non4':
                            var inputField = document.getElementById("nombredeverredalcool");
                            inputField.style.display = "none"; 
                            break;
                            case 'non5':
                            var inputField = document.getElementById("nombredepaquetdetabac");
                            inputField.style.display = "none"; 
                            break;
                            case 'non6':
                            var inputField = document.getElementById("medocencours");
                            inputField.style.display = "none"; 
                            break;
                            case 'non7':
                                var inputField = document.getElementById("Bilanbiologiqueanterieur");
                                inputField.style.display = "none"; 
                            break;
                        }
                    }
                }
            }


            function antecedantmedical() {
                var afficheRadio= document.getElementsByName('hepatiteviraleb');
                for (var i = 0; i < afficheRadio.length; i++) {
                    if (afficheRadio[i].checked) {
                        switch(afficheRadio[i].value){
                            case 'o':
                            var inputField = document.getElementById("hepatitevirale_b");
                            inputField.style.display = "block";
                            break;

                            case 'n':
                            var inputField = document.getElementById("hepatitevirale_b");
                            inputField.style.display = "none"; 
                            break;

                            case 'nsp':
                            var inputField = document.getElementById("hepatitevirale_b");
                            inputField.style.display = "none"; 
                            break;
                        }
                    }
                }
            }




            function pourlecheckbox() {
                var affichecheckbox= document.getElementsByName('motifdeconsultation[]');
                var inputField = document.getElementById("motifdeconsultation");
                for (var i = 0; i < affichecheckbox.length; i++) {
                    if (affichecheckbox[i].checked) {
                        if (affichecheckbox[i].value=='Autre motif') {
                            inputField.style.display = "block";
                        }else if(affichecheckbox[i].value !='Autre motif') {
                            inputField.style.display="none";
                        }
                        break; // Sortir de la boucle une fois le bouton coché trouvé
                    }
                }
            }
            
            
         function datefacture(){
            var date = new Date();
            var jour = date.getDate();
            var mois = date.getMonth() + 1;
            var annee = date.getFullYear();
            var dateAffichee = jour + '/' + mois + '/' + annee;
            document.getElementById('dateInput').value = dateAffichee;
            }
            
        </script>
        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet"/>
        <link href="{% static 'listings/assets/plugins/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet"/>
        <link href="{% static 'listings/assets/plugins/font-awesome/css/all.min.css'%}" rel="stylesheet"/>

      
        <!-- Theme Styles -->
        <link href="{% static 'listings/connect.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'listings/admin3.css' %}" rel="stylesheet"/>
        <link href="{% static 'listings/dark_theme.css' %}" rel="stylesheet"/>
        <link href="{% static 'listings/custom.css' %}" rel="stylesheet"/>
        <link rel="stylesheet" href="{% static 'listings/style.css' %}"/>

        <body onload="datefacture()">
            {% block cnxcontent %} {% endblock %}
            {% block templatecontent %} {% endblock %}
            <script src="{% static 'listings/assets/plugins/jquery/jquery-3.4.1.min.js' %} "></script>
            <script src="{% static 'listings/assets/plugins/bootstrap/popper.min.js' %}"></script>
            <script src="{% static 'listings/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'listings/assets/plugins/jquery.slimscroll/jquery.slimscroll.min.js' %}"></script>
            <script src="{% static 'listings/assets/js/connect.min.js' %}"></script>
        </body>
</html>
