.formcnx{
    width: 500px;
}
.image {
    background-image: url("chu2.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
  }


.text {
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 40%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#f8faf9;
    opacity: 0.9;
    width: 400px;
  }
.inputformcnx{
    padding:10px;
    margin-top: 20px;
    margin-bottom:20px;
    display:block;
 }
.fieldsetfromcnx{
    border:none;
 }
.afromcnx{
    text-decoration: none;
    display:block;
    margin-bottom: 10px;
    color:black;
  }
.div0{
    overflow: hidden;
    padding: 0 30px;
    margin-bottom: 4px;
}
.div0{
    overflow: hidden;
}

.div1{
float: left;
}
.div2{
  float: right;  
}
.test{
display:none;
}
/*formulaire de sortie*/
.divsortie{
  overflow: hidden;
  padding:20px;
}
.divsortie>label{
  float:left;
  width:400px;
  padding:10px;
  
}
.divsortie>input{
float: left;
width:29%;
padding: 10px;
}

.divsortie>select{
  float: left;
  width:29%;
  padding: 10px;
}
/*fin*/

.formcontenu{
border-radius: 5px;
width:70%;
border: 1px solid black;
}

.formcontenu ::first-letter{
text-transform:capitalize;
}
.inputcontenu{
margin:10px;
display:block;
width:60%;
background-color:none;
padding:15px;
}
.selectcontenu{
display:block;
}

.divcontenunav{
padding:15px;
text-align:center;
width:100%;
text-transform:capitalize;
font-weight:bold;
font-size:20px;
border-top-left-radius:5px;
border-top-right-radius:5px;
color: black;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.divcontenudate{
display:block;
}
.divcontenudate>input{
padding:15px;
margin-left:70px;
margin-bottom:10px;
width:36%;
}

.divcontenusexe{
display:block;
}
.divcontenusexe>input{
padding:15px;
margin-left: 15px;
margin-bottom:10px;
width:17%;
border-top:none;
border-left:none;
border-right:none;
border-bottom:1px solid black;
}

.divfrmconsul{
display:block;
overflow:hidden;
border: 1px solid black;
}

.divfrmconsul1{
  display:block;
  overflow:hidden;
  border: 1px solid black;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center;     /* Centre verticalement */
  }

.leftconts{
float:left;
margin-left:13%;
}
.leftconts>input{
padding: 10px;
width:30%;
}

.rightconts{
float:right;
margin-right:12.5%;
}

.rightconts>input{
  padding: 10px;
  width:40%;
  }
.divfrmconsul>input[type="text"]{
width:100%; 
padding:15px;
border-top:none;
border-left:none;
border-right:none;
border-bottom:1px solid black;
}  
#presdiv1{
display:block;
margin-right:-1%;
}

#presdiv2{
display:block;
margin-right:5%;
}

#presdiv3{
display:block;
margin-right:22%;
}

#presdiv4{
display:block;
margin-right:-0.5%;
}


#presdiv5{
display:block;
margin-right:38%;
}

#div3{

margin-right:63%;
}
#div4{

margin-right:73%;
}
#div5{

margin-right:72%;
}
#div6{

margin-right:42%;
}
#div7{

margin-right:23%;
}
#div8{

margin-right:-7%;
}

#div9{
margin-right:62%;
}
#div10{
margin-right:72%;
}
#div11{
margin-right:62%;
}
#div12{
margin-right:30%;
}
#div13{
margin-right:-4%;
}
#div14{
margin-right:75%;
}



#div14>input[type="text"]{
width:100%;
padding:15px;
border-top:none;
border-left:none;
border-right:none;
border-bottom:1px solid black;
}

.Signesassociesfonctionnels{
  overflow: hidden;
}
.left{
float:left;
margin-left:5%;
}
.left1{
float:left;
margin-left:5.5%;
}
.left1{
font-size:20px;
}

#left2{
float:left;
margin-left:6%;
}


#right2{
float:right;
margin-right:24%;
}

.right{
float:right;
margin-right:5%;
}
.right1{
float:right;
margin-right:10%;
}
.right1{
font-size:20px;
}

#divsag{
  width:50%;
  float: left;
  overflow: hidden;
  border: 1px solid black;
}
#divsd{
  width:50%;
  overflow: hidden;
  float: left;
  border: 1px solid black;
}

#divse{
width:50%;
overflow: hidden;
float: left;
border: 1px solid black;
}
#divse{
margin-right:11.5%;
}
 .test1{
font-size:17;
 }

  .test4{
font-size:17;
 }

  .test2{
font-size:17;
 }

  .test3{
font-size:17;
}
 
#divse>input[type="text"]{
width:100%;
padding:15px;
border-top:none;
border-left:none;
border-right:none;
border-bottom:1px solid black;
}
#divsd>input[type="text"]{
width:100%;
padding:15px;
border-top:none;
border-left:none;
border-right:none;
border-bottom:1px solid black;
}
.test0{
float:left;
}
.test5{
float:right;
}
#test1{
 display:block;
 }
#test2{
 display:block;
 }
 #test3{
 display:block;
 }
#test4{
 display:block;
 margin-right:53%;
 }

.class1{
padding:15px;
text-align:center;
color:white;
background-color:hsl(195,100%,50%);
width:100%;
text-transform:Uppercase;
font-weight:bold;
font-size:15px;
border-top-left-radius:5px;
border-top-right-radius:5px;
}
#signeasso{
  overflow: hidden;
}




