.formcnx{
    width: 500px;
}
.image {
    background-image: url("chu2.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
  }


.text {
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 40%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#f8faf9;
    opacity: 0.9;
    width: 400px;
  }
.inputformcnx{
    padding:10px;
    margin-top: 20px;
    margin-bottom:20px;
    display:block;
    width: 300px;
 }
.afromcnx{
    text-decoration: none;
    display:block;
    margin-bottom: 10px;
    color:black;
  }
.div0{
    overflow: hidden;
    padding: 0 30px;
    margin-bottom: 4px;
}
.div0{
    overflow: hidden;
    
}

.div1{
float: left;
}

.div2{
  margin-top:30px;
  margin-left:10px;
  float: right; 
}

.test{
  display: none;
}
.test>input[type='text']{
  padding:8px;
  width:30%;
}

.test>input[type='date']{
  padding:8px;
  width: 30%;
}
/*formulaire de sortie*/
.divsortie{
  overflow: hidden;
  padding:5px;
}
.divsortie >label{
  float:left;
  width:150px;
  padding:10px;
}
.divsortie>input[type="text"]{
float:left;
margin:3px;
width:50%;
padding:10px
}


.divsortie input[type="password"]{
  float:left;
  margin:3px;
  width:50%;
  padding:10px
  }

.divsortie input[type="email"]{
    float:left;
    margin:3px;
    width:50%;
    padding:10px
}

.divsortie input[type="tel"]{
      float:left;
      margin:3px;
      width:50%;
      padding:10px
}
    
  
#lab{
  float:left;
  width:150px;
  padding:10px;
}
.divsortie>input[type="date"]{
  float:left;
  margin:3px;
  width:50%;
  padding:10px;
}


.divsortie>input[type="radio"]{
  float:left;
  width:50%;
}

.divsortie>select{
  float:left;
  width:50%;
  padding:10px;
}

.divsortie textarea{
  float:left;
  width:50%;
  padding:10px;
}
/*fin*/

.formcontenu{
width:70%;
background-color: #f8faf9;
}

.formcontenu ::first-letter{
text-transform:capitalize;
}
.inputcontenu{
display:block;
width:60%;
background-color:none;
padding:10px;
}
.selectcontenu{
display:block;
}

.divcontenunav{
padding:10px;
width:100%;
font-weight:bold;
font-size:20px;
border-top-left-radius:5px;
border-top-right-radius:5px;
color: black;
background-color: deepskyblue;
text-align: left;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.divcontenudate{
display:block;
}
.divcontenudate>input{
padding:10px;
margin-left:70px;
margin-bottom:10px;
width:36%;
}

.divcontenusexe{
display:block;
}
.divcontenusexe>input{
padding:10px;
margin-left: 15px;
margin-bottom:10px;
width:17%;
border-top:none;
border-left:none;
border-right:none;
border-bottom:1px solid black;
}

.divfrmconsul{
display:block;
overflow:hidden;
}

.divfrmconsul1{
  display:block;
  overflow:hidden;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center;  
  width:354px;   /* Centre verticalement */
  }

.leftconts{
  flex: 1;
}
.leftconts>input{
width:30%;
margin-right:10%;
}

.rightconts{
  flex: 1;
}

.rightconts>input{
  width:25%;
  margin-right:100%;
  }
.divfrmconsul>input[type="text"]{
width:100%; 
padding:10px;
border-top:none;
border-left:none;
border-right:none;
border-bottom:1px solid black;
}  
#presdiv1{
margin-right:-1%;
}

#presdiv2{
display:block;
margin-right:5%;
}

#presdiv3{
margin-right:22%;
}

#presdiv4{
margin-right:-0.5%;
}


#presdiv5{
margin-right:38%;
}

#presdiv6{
  margin-right:3%;
}

#presdiv7{

    margin-left:2%;
}
#presdiv8{
      margin-left:2.5%;
}

#presdiv9{
  margin-left:7%;
}

#presdiv10{
  margin-right:7%;
}

#presdiv11{
  margin-right:12.5%;
}

#presdiv12{
  margin-right:17.1%;
}
#presdiv13{
  margin-right:16.5%;
}
#presdiv14{
  margin-right:13%;
}
#presdiv15{
  margin-left:1%;
}
#presdiv16{
  margin-right:17.5%;
}
#presdiv17{
  margin-right:14.5%;
}

#div3{
margin-right:63%;
}
#div4{
margin-right:73%;
}
#div5{

margin-right:72%;
}
#div6{
margin-right:44%;
}
#div7{
margin-right:29%;
}

#div9{
margin-right:62%;
}
#div10{
margin-right:71%;
}
#div11{
margin-right:62%;
}
#div12{
margin-right:33%;
}
#div14{
margin-right:74%;
}
#div14>input[type="text"]{
width:100%;
border-top:none;
border-left:none;
border-right:none;
border-bottom:1px solid black;
}

.Signesassociesfonctionnels{
  overflow: hidden;
}
.left{
float:left;
margin-left:5%;
}
.left1{
float:left;
margin-left:5.5%;
}
.left1{
font-size:20px;
}

#left2{
float:left;
margin-left:6%;
}

#right2{
float:right;
margin-right:24%;
}

.right{
float:right;
margin-right:5%;
}
.right1{
float:right;
margin-right:10%;
}
.right1{
font-size:20px;
}

#divsag{
  width:100%;
  overflow: hidden;
}
#divsd{
  width:100%;
  overflow: hidden;
}

#divse{
width:100%;
overflow: hidden;
}
 .test1{
font-size:17;
 }

  .test4{
font-size:17;
 }

  .test2{
font-size:17;
 }

  .test3{
font-size:17;
}
 
#divse>input[type="text"]{
width:55%;
padding:10px;
border-top:none;
border-left:none;
border-right:none;
border-bottom:1px solid black;
}
#divsd>input[type="text"]{
width:55%;
padding:10px;
border-top:none;
border-left:none;
border-right:none;
border-bottom:1px solid black;
}
.test0{
float:left;
}
.test5{
float:right;
}
#test1{
 display:block;
 }
#test2{
 display:block;
 }
 #test3{
 display:block;
 }
#test4{
 display:block;
 margin-right:53%;
 }

.class1{
padding:10px;
text-align:center;
color:white;
background-color:hsl(195,100%,50%);
width:100%;
text-transform:Uppercase;
font-weight:bold;
font-size:15px;
border-top-left-radius:5px;
border-top-right-radius:5px;
}
#signeasso{
  overflow: hidden;
}
.labconsul1{
  display: block;

}
.ok{
  overflow: hidden;
}
.p1{
color: red;
}
.p2{
  color: green; 
}

.untest1{
  margin-right:144px;
}
.untest1> input[type="text"]{
  width:100%;
  padding:10px;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:1px solid black;
  }

.untest2{
  margin-right:140px;

}
.untest2> input[type="text"]{
  width:100%;
  padding:10px;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:1px solid black;
  }


.untest3{
  margin-left:27px;
}

.untest4{
  margin-right:100px;
}
.untest4> input[type="text"]{
  width:50%;
  padding:10px;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:1px solid black;
  }

.card-body1{
  background-color: white;
  flex: 1; /* Take the remaining space */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  padding: 20px;
}
.card1{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content{
display: flex; 
align-items: center;
}
.content>label{
margin-left:25px;
}
#divg{
  margin-right:56px; 
}

#divd{
  margin-right:53px; 
}

#divg1{
  margin-right:77px; 
}

#divd1{
  margin-right:73px; 
}

#divg2{
  margin-right:50px; 
}

#divd2{
  margin-right:47px; 
}

#divg3{
  margin-right:6.5px; 
}

#divd3{
  margin-right:3px; 
}

#divg4{
  margin-right:4px; 
}

#divd4{
  margin-left:5px; 
}

#divg4{
  margin-right:4px; 
}

#divd4{
  margin-left:5px; 
}
/*mise en forme tableau*/
.table1 {
  width:100%;
  border-collapse: collapse;
}
.table1  th,td{
  text-align: center; /* Centrer horizontalement */
  vertical-align: middle; /* Centrer verticalement */
  padding: 8px;
}
.table1 th{
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}
.table1 select {
  width: 100%;
  border: none;
  background-color:rgb(238, 238, 238);
}

.table2{
  width:100%;
  border-collapse: collapse;
}
.table2  th,td{
  text-align: center; /* Centrer horizontalement */
  vertical-align: middle; /* Centrer verticalement */
  padding: 10px;
}
.table2 th{
  background-color: #f2f2f2;
}
.table2 tr{
  border-bottom: 1px solid  #ddd;
}
.box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.box-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.box-container {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.box {
    display: block;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

.box:hover {
    background-color: #e0e0e0;
}

.box p {
    margin: 0;
    font-size: 16px;
}

.center-box {
    justify-content: center;
}



.patient-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colonnes */
  gap: 10px; /* Espace entre les éléments */
}
.patient-link {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  background-color: #f4f4f4;
}
.patient-link:hover {
  background-color: #e0e0e0;
}
.icon {
  font-size:18px;
  margin-right: 5px;
}
.Modedevie{
  overflow:hidden ;
}
.left_container {
  float: left;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  border-right:1px solid black;
}
.right_container {
  float: right;
  width:50%;
  padding: 10px;
  box-sizing: border-box;
}

.right_container ul {
 list-style-type: none;
}

.container_affiche {
  width: 100%;
  overflow: hidden;
}